<div class="col-12">
  <div *ngIf="error" class="div">
    <ul class="alert alert-danger fa-ul">
      <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
    </ul>
  </div>
  <div *ngIf="errors" class="div">
    <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
      - {{ item.key }}
      <li *ngFor="let val of item.value"><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{val}}
      </li>
    </ul>
  </div>

  <button class="spinBtn" style="margin-top: 100px !important;" *ngIf="play">CLICK 2 SPIN!</button>

  <div class="wheelContainer" style="margin-top: 100px !important;" *ngIf="play">

    <svg class="wheelSVG" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  text-rendering="optimizeSpeed">
      <defs>
        <filter id="shadow" x="-100%" y="-100%" width="550%" height="550%">
          <feOffset in="SourceAlpha" dx="0" dy="0" result="offsetOut"></feOffset>
          <feGaussianBlur stdDeviation="9" in="offsetOut" result="drop" />
          <feColorMatrix in="drop" result="color-out" type="matrix"
                         values="0 0 0 0   0
              0 0 0 0   0
              0 0 0 0   0
              0 0 0 .3 0"/>
          <feBlend in="SourceGraphic" in2="color-out" mode="normal" />
        </filter>

      </defs>
      <g class="mainContainer">
        <g class="wheel"/>
      </g>
      <g class="centerCircle" />

      <g class="wheelOutline" />
      <g class="pegContainer" >
        <path  class="peg" fill="#EEEEEE" d="M22.139,0C5.623,0-1.523,15.572,0.269,27.037c3.392,21.707,21.87,42.232,21.87,42.232	s18.478-20.525,21.87-42.232C45.801,15.572,38.623,0,22.139,0z" />
      </g>

      <g class="valueContainer" />
<!--      <image xlink:href="/assets/img/favicons/logo.png" width="330" height="330" x="350" y="222" />-->
      <image [attr.xlink:href]="client.societeImg" width="330" height="330" x="350" y="222" />
    </svg>
    <div class="toast">
      <p></p>
    </div>

  </div>

</div>
