<div class="card-header">
  <div class="row align-items-center justify-content-between">

    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <tr>
          <th scope="row">Référence</th>
          <td>{{reclamation.reference}}</td>
        </tr>
        <tr>
          <th scope="row">Etat</th>
          <td>{{reclamation.etat}}</td>
        </tr>
        <tr *ngIf="reclamation.societe">
          <th scope="row" >Société</th>
          <td>{{reclamation.societe.nom}}</td>
        </tr>
        <tr *ngIf="reclamation.user">
          <th scope="row">Utilisateur</th>
          <td>{{reclamation.user.nom}} {{reclamation.user.prenom}}</td>
        </tr>

        <tr *ngIf="reclamation.image_path">
          <th scope="row">Image</th>
          <td><img src="{{reclamation.image_path}}"
                   alt=""></td>
        </tr>
        <tr *ngIf="reclamation.description">
          <th scope="row">Description</th>
          <td>{{reclamation.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
