<div class="card-header">
  <div class="row align-items-center justify-content-between">
    <div *ngIf="historiqueList.length == 0">
      Aucun article n'a été trouvé pour votre requête de recherche
    </div>
    <div class="table-responsive" *ngIf="historiqueList.length != 0">
      <table class="table table-hover table-striped">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Utilisateur</th>
          <th scope="col">Date</th>
          <th scope="col">Societe</th>
          <th scope="col">Section</th>
          <th scope="col">Action</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let historique of historiqueList; let index = index">
          <th scope="row">{{index + 1}}</th>
          <th>{{historique.user_nom}}</th>
          <td>{{historique.created_at}}</td>
          <td>{{historique.societe_nom}}</td>
          <td>{{historique.controller}}</td>
          <td>{{historique.action}}</td>
          <td>
            <button class="btn btn-info" type="button" (click)="showChildModalView(historique)"
                    style="margin-right: 2px;"><span
              class='far fa-eye'></span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div bsModal #childModalView="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name-view" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name-view" class="modal-title pull-left">Afficher historique</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModalView()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-historique-view [historique]="historique"></app-historique-view>
      </div>
    </div>
  </div>
</div>

