<div class="row no-gutters">
  <div class="col-lg-12 pr-lg-2">
    <div class="card mb-3">
      <div class="card-body bg-light">
        <div>
          Cliquer pour ajouter la position de votre société ou déplacer le marquer pour la déplacer
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <div id="mapid"></div>
          </div>
          <div class="col-12 d-flex justify-content-end" style="margin-top: 10px;">
            <button class="btn btn-primary" (click)="onSubmit()" [disabled]="loadingUpdate">
              Valider position
              <span *ngIf="loadingUpdate" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
