<div *ngIf="error" class="div">
  <ul class="alert alert-danger fa-ul">
    <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
  </ul>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page" routerLink="etats">Etats</li>
  </ol>
</nav>
<div *ngIf="!societeStorage">
  <ul class="alert alert-danger fa-ul">
    <li>
      <span class="fa-li">
        <i class="fas fa-exclamation-triangle"></i>
      </span>Pour commencer, vous devez créer une société. pour créer <a routerLink="/societe/create">cliquer ici</a>
    </li>
  </ul>
</div>
<div *ngIf="societeStorage">
  <div>
    <button type="button" class="btn btn-primary float-right" (click)="showChildModal()">Ajouter<span
      class="fas fa-plus-circle"></span></button>
  </div>
  <br>
  <app-loading *ngIf="loading"></app-loading>
  <br>
  <app-etat-list *ngIf="!loading" [etatList]="etatList" (loadDataDelete)="loadData()"></app-etat-list>
  <br>
  <br>
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Ajouter etat</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-etat-create (loadDataAjout)="loadData()" *ngIf="isCreating"></app-etat-create>
      </div>
    </div>
  </div>
</div>
