<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">

  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(24, 119, 242,0.7)"/>
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(24, 119, 242,0.5)"/>
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(24, 119, 242,0.3)"/>
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(24, 119, 242,1)"/>
      </g>
    </svg>
  </div>
  <!--Waves end-->

</div>
<!--Header ends-->

<!--Content starts-->
<div class="content">
  <div class="row" style="color: white">
    <div class="col-md-3">
      <strong>tboutique</strong>
    </div>
    <div class="col-md-3">
      <strong>Adresse :</strong> <br>
      Rue assed ben fourat,<br>
      Dar Chaâbane El Fehri,<br>
      Nabeul,<br>
      8011
    </div>
    <div class="col-md-3">
      <strong>Appelez-nous :</strong> <br>
      <a href="tel:26678826" style="color: white"><i><u>26678826</u></i></a>
    </div>
    <div class="col-md-3 float-right">
      <strong>Écrivez-nous :</strong><br>
      <a href="mailto:admin@tboutique.tn" style="color: white; word-wrap:break-word;"><i><u>admin@tboutique.tn</u></i></a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-11">
      <a class="_blank" href="https://www.linkedin.com/in/khalfallah-mohamed-riadh/" target="_blank"
         style="color: white">
        © 2021 - Site développé par KHALFALLAH Mohamed Riadh
      </a>
    </div>
    <div class="col-md-1">
      <p class="mb-0 float-right" style="color: white">v1.0.0</p>
    </div>
  </div>
</div>
