<div class="row">
  <div class="col-12">
    <div *ngIf="error" class="div">
      <ul class="alert alert-danger fa-ul">
        <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
      </ul>
    </div>
    <div *ngIf="errors" class="div">
      <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
        - {{ item.key }}
        <li *ngFor="let val of item.value"><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{val}}
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="row no-gutters">
        <div class="col-lg-12 pr-lg-2">
          <div class="card mb-3">

            <div class="card-body bg-light">

              <form #marqueCreateForm=ngForm (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="name">Nom</label>
                  <input class="form-control" id="name" name="name" type="text" placeholder="Nom" [(ngModel)]="form.nom"
                         required minlength="3"
                         #name="ngModel"/>
                  <ul *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <li *ngIf="name.errors.required">
                      Ce champ est obligatoire
                    </li>
                    <li *ngIf="name.errors.minlength">
                      Nom doit comporter au moins 3 caractères.
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <label for="name">Logo</label>
                  <input type="file" (change)="onFileSelect($event)" required>
                </div>
                <button class="btn btn-warning mb-3 float-right" type="submit"
                        [disabled]="marqueCreateForm.invalid || loading">
                  Enregistrer
                  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
