<div *ngIf="error" class="div">
  <ul class="alert alert-danger fa-ul">
    <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
  </ul>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page" routerLink="typeActivites">Type d'activité</li>
  </ol>
</nav>
<app-loading *ngIf="loading"></app-loading>
  <div>
    <button type="button" class="btn btn-primary float-right" (click)="showChildModal()">Ajouter<span
      class="fas fa-plus-circle"></span></button>
  </div>
  <br>
  <br>
  <app-type-activite-list *ngIf="!loading" [typeActiviteList]="typeActiviteList" (loadDataDelete)="loadData()"></app-type-activite-list>
  <br>
  <br>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Ajouter type Activite</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-type-activite-create (loadDataAjout)="loadData()"></app-type-activite-create>
      </div>
    </div>
  </div>
</div>
