<div class="card-header">
  <div class="row" style="align-content: center">
    <h1>Cliquez sur le bouton pour vérifier votre adresse e-mail.</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <button class="btn btn-success" (click)="valide()">Vérifier adresse email
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
              aria-hidden="true"></span>
      </button>
    </div>
    <div class="col-4"></div>
  </div>
</div>
