<div class="row">
  <div class="col-12">
    <div *ngIf="error" class="div">
      <ul class="alert alert-danger fa-ul">
        <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
      </ul>
    </div>
    <div *ngIf="errors" class="div">
      <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
        - {{ item.key }}
        <li *ngFor="let val of item.value"><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{val}}
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="row no-gutters">
        <div class="col-lg-12 pr-lg-2">
          <div class="card mb-3">
            <div class="card-body bg-light">
              <form #scrapingCreateForm=ngForm (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="url">Url</label>
                  <input class="form-control" id="url" name="url" type="text" placeholder="url"
                         [(ngModel)]="url" required/>
                </div>
                <div class="form-group">
                  <label for="site">site</label>
                  <input class="form-control" id="site" name="site" type="text" placeholder="site"
                         [(ngModel)]="site" required/>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="sousCategorie">Categorie *</label>
                      <select class="form-control" id="categorie" name="categorie"
                              [(ngModel)]="category_id" required
                              #categorie="ngModel" (change)='findSousCategorie()'>
                        <option *ngFor="let categorie of categorieListe" [value]="categorie.id">
                          {{categorie.nom}}
                        </option>
                      </select>
                      <ul *ngIf="categorie.invalid && (categorie.dirty || categorie.touched)"
                          class="alert alert-danger">
                        <li *ngIf="categorie.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="sousCategorie">Sous categorie *</label>
                      <select class="form-control" id="sousCategorie" name="sousCategorie"
                              [(ngModel)]="sous_category_id" required
                              #sousCategorie="ngModel" [disabled]="!category_id">
                        <option *ngFor="let sousCategorie of sousCategorieListe" [value]="sousCategorie.id">
                          {{sousCategorie.nom}}
                        </option>
                      </select>
                      <ul *ngIf="sousCategorie.invalid && (sousCategorie.dirty || sousCategorie.touched)"
                          class="alert alert-danger">
                        <li *ngIf="sousCategorie.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <button class="btn btn-warning mb-3 float-right" type="submit"
                        [disabled]="scrapingCreateForm.invalid || loading">
                  Enregistrer
                  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
