<div class="modal-action__container modal-action--delete">
  <br>
  <div class="modal-action__content">
    <div class="modal-action__body">
      Êtes-vous sûr de vouloir supprimer ?
    </div>
    <br>
    <img width="35%" src="/assets/img/icons/coix_rouge.png" style="display: block;
    margin-left: auto;
    margin-right: auto"
    alt="imga de supprission element">
    <br>
    <div class="modal-action__footer float-right">
      <button type="button" class="btn btn-cancel btn-primary" (click)="cancel()">
        Annuler
      </button>
      <button type="button" class="btn btn-delete btn-danger" (click)="delete()"
              style="margin-left: 10px;">
        Supprimer
      </button>
    </div>
    <div>
    </div>
  </div>
</div>
