<app-loading *ngIf="loading"></app-loading>
<div class="content" *ngIf="!loading">
  <div class="row" *ngIf="societe.id!=null">
    <div class="col-12">
      <div class="card mb-3 btn-reveal-trigger">
        <div class="card-header position-relative min-vh-25 mb-8">
          <div class="cover-image">
            <div class="bg-holder rounded-soft rounded-bottom-0"
                 style="background-image:url({{societe.image_coverture_path}});"></div>
          </div>
          <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle" *ngIf="societe.id">
            <div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
              <img src="{{societe.image_societe_path}}" width="200" alt="{{societe.nom}}" data-dz-thumbnail>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body" style="background-color: white">
        <div class="row">
          <div class="col-lg-8">
            <h4 class="mb-1"> {{societe.nom}}<small class="fas fa-check-circle text-primary ml-1" data-toggle="tooltip" data-placement="right" title="Verified" data-fa-transform="shrink-4 down-2"></small></h4>
            <h5 class="fs-0 font-weight-normal">{{societe.adresse}}</h5>
            <p class="text-500">{{societe.gouvernorat.nom}}, {{societe.delegation.nom}}, {{societe.code_postal}}</p>
            <a href="tel:{{societe.telephone_mobile}}" class="btn btn-falcon-primary btn-sm px-3" type="button"><i class="fas fa-phone-alt"></i>Appeler</a>
            <a *ngIf="username" href="https://m.me/{{username}}" target="_blank" class="btn btn-primary btn-sm px-3 ml-2" type="button"><i class="fab fa-facebook-messenger"></i>Message</a>
            <hr class="border-dashed my-4 d-lg-none" />
          </div>
          <div class="col pl-2 pl-lg-3">
            <a class="media align-items-center mb-2" href="{{societe.site_fb}}" target="_blank"><img class="d-flex align-self-center mr-2" src="assets/img/logos/facebook.png" alt="Facebook" width="30" />
            <div class="media-body">
              <h6 class="mb-0">Facebook</h6>
            </div>
          </a>
            <a class="media align-items-center mb-2" href="https://www.google.fr/maps/dir/{{societe.latitude}},{{societe.longitude}}/@{{societe.latitude}},{{societe.longitude}},18z" target="_blank"><img class="d-flex align-self-center mr-2" src="assets/img/logos/maps.png" alt="Maps" width="30" />
            <div class="media-body">
              <h6 class="mb-0">Maps</h6>
            </div>
          </a>
          </div>
        </div>
      </div>
<br>
    </div>
  </div>

  <nav style="background-color:white !important;"
       class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand-lg">
    <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button" data-toggle="collapse"
            data-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false"
            aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
    </button>
    <a class="navbar-brand mr-1 mr-sm-3" routerLink="/societe/view/{{societe.id}}">
      <div class="d-flex align-items-center"><img class="mr-2" src="{{societe.image_societe_path}}" alt=""
                                                  width="40"><span class="text-sans-serif">{{societe.nom}}</span></div>
    </a>
    <div class="collapse navbar-collapse" id="navbarStandard">
      <ul class="navbar-nav">
        <li class="nav-item dropdown dropdown-on-hover" *ngFor="let categorie of societe.categories">
          <a class="nav-link dropdown-toggle" id="navbarDropdownHome" href="test" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">{{categorie.nom}}</a>
          <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownHome">
            <div class="bg-white rounded-soft py-2">
              <a class="dropdown-item" routerLink="/societe/view/{{societe.id}}/sousCategory/{{sousCategorie.id}}"
                 *ngFor="let sousCategorie of categorie.sousCategories">{{sousCategorie.nom}}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <br>
  <app-recherche-produit-societe [societeId]="societeId"></app-recherche-produit-societe>
  <div class="row no-gutters">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">Societe</h5>
        </div>
        <div class="card-body bg-light">
          <div class="row">
            <div class="mb-4 col-md-6 col-lg-4" *ngFor="let newProduit of newProduitList">
              <div class="border rounded h-100 d-flex flex-column justify-content-between pb-3">
                <div class="overflow-hidden">
                  <div class="position-relative rounded-top overflow-hidden">
                    <a class="d-block" routerLink="/newProduit/view/{{newProduit.id}}" *ngIf="!newProduit.url_externe">
                      <img class="img-fluid rounded-top" src="{{newProduit.image_path}}" alt="{{newProduit.titre}}"/>
                    </a>
                    <a class="d-block" href="{{newProduit.url_externe}}" *ngIf="newProduit.url_externe" target="_blank">
                      <img class="img-fluid rounded-top" src="{{newProduit.image_path}}" alt="{{newProduit.titre}}"/>
                    </a>
                    <span
                      class="badge badge-pill badge-success position-absolute r-0 t-0 mt-2 mr-2 z-index-2">{{newProduit.etat_produit}}</span><br>
                    <span class="badge badge-pill badge-danger position-absolute r-0 t-0 mt-2 mr-2 z-index-2"
                          style="top: 25px;" *ngIf="newProduit.prix_sold">Soldé</span>
                  </div>
                  <div class="p-3">
                    <h5 class="fs-0"><a class="text-dark" routerLink="/newProduit/view/{{newProduit.id}}"
                                        *ngIf="!newProduit.url_externe">{{newProduit.titre}}</a></h5>
                    <h5 class="fs-0"><a class="text-dark" href="{{newProduit.url_externe}}" target="_blank"
                                        *ngIf="newProduit.url_externe">{{newProduit.titre}}</a></h5>
                    <p class="fs--1 mb-3" *ngIf="newProduit.modele">{{newProduit.modele.nom}}</p>
                    <h5 class="d-flex align-items-center" *ngIf="newProduit.prix_sold">
                      <span class="text-warning mr-2">{{newProduit.prix_sold}} DT</span>
                      <span class="mr-1 fs--1 text-500"><del class="mr-1">{{newProduit.prix}} DT</del></span>
                    </h5>
                    <h5 class="d-flex align-items-center" *ngIf="!newProduit.prix_sold">
                      <span class="text-warning mr-2">{{newProduit.prix}} DT</span>
                    </h5>
                    <p class="fs--1" *ngIf="newProduit.quantite>0">Stock: <strong
                      class="text-success">Disponible</strong></p>
                    <p class="fs--1" *ngIf="newProduit.quantite<=0">Stock: <strong class="text-danger">En rupture de
                      stock</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="input-group" *ngIf="!first">
            <div class="col-sm-8"></div>
            <div class="col-sm-2">
              <select [disabled]="disableShowMore" class="form-control"
                      [(ngModel)]="searchobject.limit">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
              </select>
            </div>
            <div class="col-sm-2">
              <button id="showMore" class="btn btn-warning" (click)="showMore()" [disabled]="loading || disableShowMore">Afficher plus
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-lg-12 pr-lg-2">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">Suivi votre produit</h5>
        </div>
        <div class="card-body bg-light">
          <form #produitReferenceForm=ngForm (ngSubmit)="searchProduit()">
            <p>
              Vérifier l'état de votre commande avec notre service de Suivi en Temps Réel
            </p>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="reference_produit">Référence du produit:</label>
                  <input class="form-control" id="reference_produit" name="reference_produit" type="text"
                         [(ngModel)]="reference" minlength="13" maxlength="13" pattern="[0-9]{13}"
                         required #reference_produit="ngModel" placeholder="0000000000000"/>
                  <p style="color: #a5a5a5;
                             font-size: 10px;">
                    (*)Ce code est confidentiel, merci de bien le préserver
                  </p>
                  <ul *ngIf="reference_produit.invalid && (reference_produit.dirty || reference_produit.touched)"
                      class="alert alert-danger">
                    <li *ngIf="reference_produit.errors.pattern">
                      Username doit contenire que des chiffres.
                    </li>
                    <li *ngIf="reference_produit.errors.minlength">
                      Référence doit comporter au moins 13 caractères.
                    </li>
                    <li *ngIf="reference_produit.errors.maxlength">
                      Référence doit contenir au maximum 13 caractères.
                    </li>
                    <li *ngIf="reference_produit.errors.required">
                      Ce champ est obligatoire
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
              <button class="btn btn-primary" type="submit" [disabled]="produitReferenceForm.invalid || loading">
                Rechercher
                <span *ngIf="loadingProduit" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
              </button>
            </div>
          </form>
          <br>
          <div *ngIf="produit">
            <div class="card mb-3">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 class="mb-0">Information produit</h5>
                  </div>
                  <div class="col-auto"></div>
                </div>
              </div>
              <div class="card-body bg-light border-top">
                <div class="row">
                  <div class="col-lg col-xxl-5">
                    <h6 class="font-weight-semi-bold ls mb-3 text-uppercase">Produit</h6>
                    <div class="row">
                      <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1" style="white-space: nowrap;">Référence</p>
                      </div>
                      <div class="col">{{produit.reference}}</div>
                    </div>
                    <div class="row" *ngIf="produit.etat">
                      <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1" style="white-space: nowrap;">Etat</p>
                      </div>
                      <div class="col">{{produit.etat.nom}}</div>
                    </div>
                    <div class="row">
                      <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1" style="white-space: nowrap;">Produit</p>
                      </div>
                      <div class="col">{{produit.nom}}</div>
                    </div>
                    <div class="row">
                      <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1" style="white-space: nowrap;">Created</p>
                      </div>
                      <div class="col">{{produit.created_at}}</div>
                    </div>
                    <div class="row">
                      <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1" style="white-space: nowrap;">Description</p>
                      </div>
                      <div class="col">{{produit.description_client}}</div>
                    </div>
                    <div class="row">
                      <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-0" style="white-space: nowrap;">Client</p>
                      </div>
                      <div class="col">{{produit.nom_client}}</div>
                    </div>
                  </div>
                  <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
                    <h6 class="font-weight-semi-bold ls mb-3 text-uppercase" style="white-space: nowrap;">Société</h6>
                    <div class="row">
                      <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1" style="white-space: nowrap;">Nom</p>
                      </div>
                      <div class="col">{{produit.societe.nom}}</div>
                    </div>
                    <div class="row">
                      <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1" style="white-space: nowrap;">Addresse</p>
                      </div>
                      <div class="col">
                        <p class="mb-1">{{produit.societe.adresse}}<br>{{produit.societe.ville}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1" style="white-space: nowrap;">Tél</p>
                      </div>
                      <div class="col"><a
                        href="tel:{{produit.societe.telephone_mobile}}">{{produit.societe.telephone_mobile}}</a></div>
                    </div>
                    <div class="row">
                      <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-0" style="white-space: nowrap;">Tél fix</p>
                      </div>
                      <div class="col">
                        <p class="font-weight-semi-bold mb-0"><a
                          href="tel:{{produit.societe.telephone_fix}}">{{produit.societe.telephone_fix}}</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer border-top text-right"></div>
            </div>

          </div>
          <div *ngIf="produit===null" class="div">
            <ul class="alert alert-danger fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>
                Ce produit n'existe pas. Merci de vérifier la référence.
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-lg-8 pr-lg-2">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">Societe</h5>
        </div>
        <div class="card-body bg-light">
          <h5 class="fs-0 mb-3">{{societe.nom}}</h5>
          <p>{{societe.description}}</p>
          <ul>
            <li>Facebook : <a href="{{societe.site_fb}}" target="_blank">{{societe.site_fb}}</a></li>
            <li>Site Web : <a href="{{societe.site_web}}" target="_blank">{{societe.site_web}}</a></li>
          </ul>
          <h5 class="fs-0 mt-5 mb-2">Share with friends</h5>
          <div class="icon-group">
            <a class="icon-item text-facebook" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u= http://www.tboutique.tn/societe/view/{{societe.id}}">
              <span class="fab fa-facebook-f"></span></a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-4 pl-lg-2">
      <div class="sticky-top sticky-sidebar">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="mb-0">Societe contact</h5>
          </div>
          <div class="card-body bg-light">

            <h6>Adresse</h6>
            <div class="mb-1">
              {{societe.adresse}}<br/>
              <span *ngIf="societe.complement_adresse">{{societe.complement_adresse}}<br/></span>
              {{societe.code_postal}}<br/>
              {{societe.ville}}
            </div>
            <a
              href="https://www.google.fr/maps/dir/{{societe.latitude}},{{societe.longitude}}/@{{societe.latitude}},{{societe.longitude}},18z"
              target="_blank">View Map</a>

            <h6 class="mt-4">Téléphone</h6>
            <div class="mb-1">
              Portable : <a href="tel:{{societe.telephone_mobile}}">{{societe.telephone_mobile}}</a>
            </div>
            <div class="mb-1" *ngIf="societe.telephone_fix">
              Fix : <a href="tel:{{societe.telephone_fix}}">{{societe.telephone_fix}}</a>
            </div>

            <h6 class="mt-4">Email</h6>
            <div class="mb-1">
              <a href="mailto:{{societe.email}}">{{societe.email}}</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--map-->
<br>
<!--<div id="mapid"></div>-->
