
<div class="row">
  <div class="col-12">
    <div *ngIf="error" class="div">
      <ul class="alert alert-danger fa-ul">
        <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
      </ul>
    </div>
    <div *ngIf="errors" class="div">
      <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
        - {{ item.key }}
        <li *ngFor="let val of item.value"><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{val}}
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="row no-gutters">
        <div class="col-lg-12 pr-lg-2">
          <div class="card mb-3">

            <div class="card-body bg-light">

              <form #produitUtilisateurCreateForm=ngForm (ngSubmit)="onSubmit()">
                <h5 class="fs-0">Information produit</h5>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="sousCategorie">Categorie *</label>
                      <select class="form-control" id="categorie" name="categorie"
                              [disabled]="loadingCategorie"
                              [(ngModel)]="produitUtilisateur.category_id" required
                              #categorie="ngModel" (change)='findSousCategorie()'>
                        <option *ngFor="let categorie of categorieListe" [value]="categorie.id">
                          {{categorie.nom}}
                        </option>
                      </select>
                      <span *ngIf="loadingCategorie" class="spinner-border spinner-border-sm" role="status"
                                                        aria-hidden="true"></span>
                      <ul *ngIf="categorie.invalid && (categorie.dirty || categorie.touched)"
                          class="alert alert-danger">
                        <li *ngIf="categorie.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="sousCategorie">Sous categorie *</label>
                      <select class="form-control" id="sousCategorie" name="sousCategorie"
                              [(ngModel)]="produitUtilisateur.sous_category_id" required
                              #sousCategorie="ngModel" [disabled]="!produitUtilisateur.category_id">
                        <option *ngFor="let sousCategorie of sousCategorieListe" [value]="sousCategorie.id">
                          {{sousCategorie.nom}}
                        </option>
                      </select>
                      <ul *ngIf="sousCategorie.invalid && (sousCategorie.dirty || sousCategorie.touched)"
                          class="alert alert-danger">
                        <li *ngIf="sousCategorie.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="titre">Titre *</label>
                      <input class="form-control" id="titre" name="titre" type="text" placeholder="Titre"
                             [(ngModel)]="produitUtilisateur.titre"
                             required minlength="3"
                             #titre="ngModel"/>
                      <ul *ngIf="titre.invalid && (titre.dirty || titre.touched)" class="alert alert-danger">
                        <li *ngIf="titre.errors.required">
                          Ce champ est obligatoire
                        </li>
                        <li *ngIf="titre.errors.minlength">
                          Nom doit comporter au moins 3 caractères.
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="prix">Prix (TND)*</label>
                      <input class="form-control" id="prix" name="prix" type="number" placeholder="9999"
                             [(ngModel)]="produitUtilisateur.prix" required #prix="ngModel"/>
                      <ul *ngIf="prix.invalid && (prix.dirty || prix.touched)" class="alert alert-danger">
                        <li *ngIf="prix.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label>Image de couverture *</label>
                      <div style="width: 50%;" class="custom-dropzone" ngx-dropzone [multiple]="false" [accept]="'image/*'" (change)="onSelectCouverture($event)">
                        <ngx-dropzone-label>
                          <div>
                            <img class="mr-2" src="../assets/img/icons/cloud-upload.svg" width="25" alt="">Déposez vos fichiers ici
                          </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of FileCouverture" [file]="f" [removable]="true" (removed)="onRemoveCouverture(f)">
                          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                      </div>
                      <p style="color: #a5a5a5;
                             font-size: 10px;">
                        (*) nombre maximum d'images est 1
                      </p>
                      <label>Autre images *</label>
                      <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                          <div>
                            <img class="mr-2" src="../assets/img/icons/cloud-upload.svg" width="25" alt="">Déposez vos fichiers ici
                          </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of File" [file]="f" [removable]="true" (removed)="onRemove(f)">
                          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                      </div>
                      <p style="color: #a5a5a5;
                             font-size: 10px;">
                        (*) nombre maximum d'images est 4
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group"><label for="description">Description</label>
                      <textarea class="form-control" id="description" name="description" cols="30" rows="13"
                                ></textarea>
                    </div>
                    {{produitUtilisateur.description}}
                  </div>
                </div>

                <!-- adresse-->
                <hr class="border border-dashed my-4"/>
                <h5 class="fs-0">Adresse</h5>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="gouvernorat">Gouvernorat *</label>
                      <select class="form-control" id="gouvernorat" name="gouvernorat"
                              [(ngModel)]="produitUtilisateur.gouvernorat_id" required
                              [disabled]="loadingGouvernorat"
                              #gouvernorat="ngModel" (change)='findDelegation()'>
                        <option *ngFor="let gouvernorat of listGouvernorat" [value]="gouvernorat.id">
                          {{gouvernorat.nom}}
                        </option>
                        <option [value]="'0'">Autre</option>
                      </select>
                      <span *ngIf="loadingGouvernorat" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>

                      <ul *ngIf="gouvernorat.invalid && (gouvernorat.dirty || gouvernorat.touched)"
                          class="alert alert-danger">
                        <li *ngIf="gouvernorat.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                      <div *ngIf="produitUtilisateur.gouvernorat_id=='0'" style="margin-top: 10px;">
                        <input class="form-control" id="autre_gouvernorat" name="autre_gouvernorat" type="text"
                               placeholder="autre_gouvernorat"
                               [(ngModel)]="produitUtilisateur.autre_gouvernorat" required
                               #autre_gouvernorat="ngModel"/>
                        <ul *ngIf="autre_gouvernorat.invalid && (autre_gouvernorat.dirty || autre_gouvernorat.touched)"
                            class="alert alert-danger">
                          <li *ngIf="autre_gouvernorat.errors.required">
                            Ce champ est obligatoire
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="delegation">Delegation *</label>
                      <div *ngIf="produitUtilisateur.gouvernorat_id != '0'">
                        <select class="form-control" id="delegation" name="delegation"
                                [(ngModel)]="produitUtilisateur.delegation_id" [disabled]="loadingDelegation"
                                #delegation="ngModel" required>
                          <option [value]=""></option>
                          <option *ngFor="let delegation of listDelegation" [value]="delegation.id">
                            {{delegation.nom}}
                          </option>
                          <option [value]="'0'">Autre</option>
                        </select>
                        <span *ngIf="loadingDelegation" class="spinner-border spinner-border-sm" role="status"
                              aria-hidden="true"></span>

                        <ul *ngIf="delegation.invalid && (delegation.dirty || delegation.touched)"
                            class="alert alert-danger">
                          <li *ngIf="delegation.errors.required">
                            Ce champ est obligatoire
                          </li>
                        </ul>
                      </div>
                      <div *ngIf="produitUtilisateur.delegation_id=='0' || produitUtilisateur.gouvernorat_id == '0'"
                           style="margin-top: 10px;">
                        <input class="form-control" id="autre_delegation" name="autre_delegation" type="text"
                               placeholder="autre_delegation"
                               [(ngModel)]="produitUtilisateur.autre_delegation" required #autre_delegation="ngModel"/>
                        <ul *ngIf="autre_delegation.invalid && (autre_delegation.dirty || autre_delegation.touched)"
                            class="alert alert-danger">
                          <li *ngIf="autre_delegation.errors.required">
                            Ce champ est obligatoire
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="adresse">Adresse *</label>
                      <input class="form-control" id="adresse" name="adresse" type="text"
                             [(ngModel)]="produitUtilisateur.adresse"
                             required minlength="3" maxlength="255"
                             #adresse="ngModel">
                      <ul *ngIf="adresse.invalid && (adresse.dirty || adresse.touched)" class="alert alert-danger">
                        <li *ngIf="adresse.errors.pattern">
                          Adresse doit contenire que de carectere alphabitique et des chiffres.
                        </li>
                        <li *ngIf="adresse.errors.required">
                          Ce champ est obligatoire
                        </li>
                        <li *ngIf="adresse.errors.minlength">
                          Nom doit comporter au moins 3 caractères.
                        </li>
                        <li *ngIf="adresse.errors.maxlength">
                          Adresse doit contenir au maximum 255 caractères.
                        </li>
                      </ul>

                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="complement_adresse">Complément d'adresse</label>
                      <input class="form-control" id="complement_adresse" name="complement_adresse" type="text"
                             [(ngModel)]="produitUtilisateur.complement_adresse"
                             placeholder="Appartement, étage, porte, couloir"
                             maxlength="255" #complement_adresse="ngModel">
                      <ul *ngIf="complement_adresse.invalid && (complement_adresse.dirty || complement_adresse.touched)"
                          class="alert alert-danger">
                        <li *ngIf="complement_adresse.errors.maxlength">
                          Complément d'adresse doit contenir au maximum 255 caractères.
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>

                <!--                immoble-->
                <div *ngIf="produitUtilisateur.category_id == '1'">
                  <hr class="border border-dashed my-4"/>
                  <h5 class="fs-0">information complémentaire</h5>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="etat_produit">Type de transaction</label>
                        <select class="form-control" [(ngModel)]="produitUtilisateur.typeTransaction"
                                name="typeTransaction" id="typeTransaction">
                          <option [ngValue]="Louer">À Louer</option>
                          <option [ngValue]="Vendre">À Vendre</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="chambres">Chambres</label>
                        <input class="form-control" id="chambres" name="chambres" type="number" placeholder="9"
                               [(ngModel)]="produitUtilisateur.chambres"/>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="superficie">Superficie (m²)</label>
                        <input class="form-control" id="superficie" name="superficie" type="number"
                               placeholder="999" [(ngModel)]="produitUtilisateur.superficie"/>
                      </div>
                    </div>
                  </div>
                </div>

                <!--vehicule-->
                <div *ngIf="produitUtilisateur.category_id == '2'">
                  <hr class="border border-dashed my-4"/>
                  <h5 class="fs-0">information complémentaire</h5>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="modele">Marque *</label>
                        <select class="form-control" id="marque" name="marque"
                                [(ngModel)]="produitUtilisateur.marque_id" required
                                [disabled]="loadingMarque"
                                #marque="ngModel" (change)="findModele()">
                          <option *ngFor="let marque of marqueListe" [value]="marque.id">
                            {{marque.nom}}
                          </option>
                          <option [value]="0">Autre</option>
                        </select>
                        <span *ngIf="loadingMarque" class="spinner-border spinner-border-sm" role="status"
                              aria-hidden="true"></span>
                        <ul *ngIf="marque.invalid && (marque.dirty || marque.touched)" class="alert alert-danger">
                          <li *ngIf="marque.errors.required">
                            Ce champ est obligatoire
                          </li>
                        </ul>
                        <div *ngIf="produitUtilisateur.marque_id==0" style="margin-top: 10px;">
                          <input class="form-control" id="autre_marque" name="autre_marque" type="text"
                                 placeholder="autre_marque"
                                 [(ngModel)]="produitUtilisateur.autre_marque" required #autreMarque="ngModel"/>
                          <ul *ngIf="autreMarque.invalid && (autreMarque.dirty || autreMarque.touched)"
                              class="alert alert-danger">
                            <li *ngIf="autreMarque.errors.required">
                              Ce champ est obligatoire
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="modele">Modele *</label>
                        <div *ngIf="produitUtilisateur.marque_id != 0">
                          <select class="form-control" id="modele" name="modele"
                                  [(ngModel)]="produitUtilisateur.modele_id" required
                                  #modele="ngModel" [disabled]="!produitUtilisateur.marque_id">
                            <option *ngFor="let modele of modeleListe" [value]="modele.id">
                              {{modele.nom}}
                            </option>
                            <option [value]="0">Autre</option>
                          </select>
                          <ul *ngIf="modele.invalid && (modele.dirty || modele.touched)" class="alert alert-danger">
                            <li *ngIf="modele.errors.required">
                              Ce champ est obligatoire
                            </li>
                          </ul>
                        </div>
                        <div *ngIf="produitUtilisateur.modele_id==0 || produitUtilisateur.marque_id==0"
                             style="margin-top: 10px;">
                          <input class="form-control" id="autre_modele" name="autre_modele" type="text"
                                 placeholder="autre_modele"
                                 [(ngModel)]="produitUtilisateur.autre_modele" required #autre_modele="ngModel"/>
                          <ul *ngIf="autre_modele.invalid && (autre_modele.dirty || autre_modele.touched)"
                              class="alert alert-danger">
                            <li *ngIf="autre_modele.errors.required">
                              Ce champ est obligatoire
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="etat_produit">État produit</label>
                        <select class="form-control" [(ngModel)]="produitUtilisateur.etat_produit"
                                name="etat_produit" id="etat_produit">
                          <option [value]=""></option>
                          <option *ngFor="let etatItem of etatVoiture" [value]="etatItem.id">
                            {{etatItem.nom}}
                          </option>

                        </select>
                      </div>
                    </div>
                  </div>
                  <!--véhicule-->
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="etat_produit">Couleur du véhicule</label>
                        <select class="form-control" [(ngModel)]="produitUtilisateur.couleur"
                                name="couleur" id="couleur">
                          <option *ngFor="let couleur of couleurVoiture" [value]="couleur.id">
                            {{couleur.nom}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="etat_produit">Type de carrosserie</label>
                        <select class="form-control" [(ngModel)]="produitUtilisateur.typeCarrosserie"
                                name="typeCarrosserie" id="typeCarrosserie">
                          <option *ngFor="let typecarrosserieItem of typecarrosserie" [value]="typecarrosserieItem.id">
                            {{typecarrosserieItem.nom}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="etat_produit">Boite</label>
                        <select class="form-control" [(ngModel)]="produitUtilisateur.boite"
                                name="boite" id="boite">
                          <option *ngFor="let boiteItem of boite" [value]="boiteItem.id">
                            {{boiteItem.nom}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="etat_produit">Cylindrée</label>
                        <select class="form-control" [(ngModel)]="produitUtilisateur.cylindre"
                                name="cylindre" id="cylindre">Cylindree
                          <option *ngFor="let CylindreeItem of Cylindree" [value]="CylindreeItem.id">
                            {{CylindreeItem.nom}}
                          </option>

                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="kilometrage">Kilométrage (KM)</label>
                        <input class="form-control" id="kilometrage" name="kilometrage" type="number"
                               placeholder="99999"
                               [(ngModel)]="produitUtilisateur.kilometrage"/>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="annee">Année</label>
                        <input class="form-control" id="annee" name="annee" type="number" placeholder="9999"
                               [(ngModel)]="produitUtilisateur.annee" maxlength="4" #annee="ngModel"/>
                        <ul *ngIf="annee.invalid && (annee.dirty || annee.touched)" class="alert alert-danger">
                          <li *ngIf="annee.errors.maxlength">
                            Complément d'adresse doit contenir au maximum 4 chiffre.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="etat_produit">Carburant </label>
                        <select class="form-control" [(ngModel)]="produitUtilisateur.carburant"
                                name="carburant" id="carburant">
                          <option [ngValue]="Louer">À Louer</option>
                          <option [ngValue]="Vendre">À Vendre</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="puissanceFiscale">Puissance fiscale</label>
                        <input class="form-control" id="puissanceFiscale" name="puissanceFiscale" type="number"
                               placeholder="99"
                               [(ngModel)]="produitUtilisateur.puissanceFiscale"/>
                      </div>
                    </div>
                  </div>
                </div>

                <button class="btn btn-warning mb-3 float-right" type="submit"
                        [disabled]="produitUtilisateurCreateForm.invalid || loading">
                  Enregistrer
                  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
                <span *ngIf="loading">Le téléchargement des photos peut prendre quelques instants. Merci de patienter ...</span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
