<div class="row">
  <div class="col-12">
    <div *ngIf="error" class="div">
      <ul class="alert alert-danger fa-ul">
        <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
      </ul>
    </div>
    <div *ngIf="errors" class="div">
      <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
        - {{ item.key }}
        <li *ngFor="let val of item.value"><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{val}}
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="row no-gutters">
        <div class="col-lg-12 pr-lg-2">
          <div class="card mb-3">

            <div class="card-body bg-light">

              <form #newProduitCreateForm=ngForm (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="sousCategorie">Categorie *</label>
                      <select class="form-control" id="categorie" name="categorie"
                              [disabled]="loadingCategorie"
                              [(ngModel)]="newProduit.category_id" required
                              #categorie="ngModel" (change)='findSousCategorie()'>
                        <option *ngFor="let categorie of categorieListe" [value]="categorie.id">
                          {{categorie.nom}}
                        </option>
                      </select>
                      <span *ngIf="loadingCategorie" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                      <ul *ngIf="categorie.invalid && (categorie.dirty || categorie.touched)"
                          class="alert alert-danger">
                        <li *ngIf="categorie.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="sousCategorie">Sous categorie *</label>
                      <select class="form-control" id="sousCategorie" name="sousCategorie"
                              [(ngModel)]="newProduit.sous_category_id" required
                              #sousCategorie="ngModel" [disabled]="!newProduit.category_id">
                        <option *ngFor="let sousCategorie of sousCategorieListe" [value]="sousCategorie.id">
                          {{sousCategorie.nom}}
                        </option>
                      </select>
                      <ul *ngIf="sousCategorie.invalid && (sousCategorie.dirty || sousCategorie.touched)"
                          class="alert alert-danger">
                        <li *ngIf="sousCategorie.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="titre">Titre *</label>
                      <input class="form-control" id="titre" name="titre" type="text" placeholder="Titre"
                             [(ngModel)]="newProduit.titre"
                             required minlength="3"
                             #titre="ngModel"/>
                      <ul *ngIf="titre.invalid && (titre.dirty || titre.touched)" class="alert alert-danger">
                        <li *ngIf="titre.errors.required">
                          Ce champ est obligatoire
                        </li>
                        <li *ngIf="titre.errors.minlength">
                          Nom doit comporter au moins 3 caractères.
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="reference">Référence *</label>
                      <input class="form-control" id="reference" name="reference" type="text" placeholder="Référence"
                             [(ngModel)]="newProduit.reference" required #reference="ngModel"/>
                      <ul *ngIf="reference.invalid && (reference.dirty || reference.touched)" class="alert alert-danger">
                        <li *ngIf="reference.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="prix">Prix *</label>
                      <input class="form-control" id="prix" name="prix" type="number" placeholder="Titre"
                             [(ngModel)]="newProduit.prix" required #prix="ngModel"/>
                      <ul *ngIf="prix.invalid && (prix.dirty || prix.touched)" class="alert alert-danger">
                        <li *ngIf="prix.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="prix_achat">Prix d'achat *</label>
                      <input class="form-control" id="prix_achat" name="prix_achat" type="number" placeholder="Prix d'achat"
                             [(ngModel)]="newProduit.prix_achat" required #prix_achat="ngModel"/>
                      <ul *ngIf="prix_achat.invalid && (prix_achat.dirty || prix_achat.touched)" class="alert alert-danger">
                        <li *ngIf="prix_achat.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="prix_solde">Prix soldé</label>
                      <input class="form-control" id="prix_solde" name="prix_solde" type="number" placeholder="Prix soldé"
                             [(ngModel)]="newProduit.prix_sold"/>
                    </div>
                  </div>
                </div>
                <strong>Paiement par facilité</strong>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="paiement_facilite_3_mois">3 mois</label>
                      <input class="form-control" id="paiement_facilite_3_mois" name="paiement_facilite_3_mois" type="number"
                             [(ngModel)]="newProduit.paiement_facilite_3_mois"/>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="paiement_facilite_6_mois">6 mois</label>
                      <input class="form-control" id="paiement_facilite_6_mois" name="paiement_facilite_6_mois" type="number"
                             [(ngModel)]="newProduit.paiement_facilite_6_mois"/>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="paiement_facilite_12_mois">12 mois</label>
                      <input class="form-control" id="paiement_facilite_12_mois" name="paiement_facilite_12_mois" type="number"
                             [(ngModel)]="newProduit.paiement_facilite_12_mois"/>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="quantite">Quantité *</label>
                      <input class="form-control" id="quantite" name="quantite" type="number" placeholder="Titre"
                             [(ngModel)]="newProduit.quantite" required #quantite="ngModel"/>
                      <ul *ngIf="quantite.invalid && (quantite.dirty || quantite.touched)" class="alert alert-danger">
                        <li *ngIf="quantite.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="seuil_min">Niveau de stock bas *</label>
                      <input class="form-control" id="seuil_min" name="seuil_min" type="number" placeholder="Titre"
                             [(ngModel)]="newProduit.seuil_min" required #seuil_min="ngModel"/>
                      <ul *ngIf="seuil_min.invalid && (seuil_min.dirty || seuil_min.touched)"
                          class="alert alert-danger">
                        <li *ngIf="seuil_min.errors.required">
                          Ce champ est obligatoire
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="url_externe">Url externe</label>
                      <input class="form-control" id="url_externe" name="url_externe" type="text" placeholder="Url externe"
                             [(ngModel)]="newProduit.url_externe"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="url_externe">État produit *</label>
                      <select class="form-control" [(ngModel)]="newProduit.etat_produit"
                              name="etat_produit" required>
                        <option [ngValue]="Nouveau">Nouveau</option>
                        <option [ngValue]="Utilise">Utilisé</option>
                        <option [ngValue]="Reconditionne">Reconditionné</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label>Image de couverture *</label>
                      <div style="width: 50%;" class="custom-dropzone" ngx-dropzone [multiple]="false" [accept]="'image/*'" (change)="onSelectCouverture($event)">
                        <ngx-dropzone-label>
                          <div>
                            <img class="mr-2" src="../assets/img/icons/cloud-upload.svg" width="25" alt="">Déposez vos fichiers ici
                          </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of FileCouverture" [file]="f" [removable]="true" (removed)="onRemoveCouverture(f)">
                          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                      </div>
                      <p style="color: #a5a5a5;
                             font-size: 10px;">
                        (*) nombre maximum d'images est 1
                      </p>
                      <label>Autre images *</label>
                      <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                        <ngx-dropzone-label>
                          <div>
                            <img class="mr-2" src="../assets/img/icons/cloud-upload.svg" width="25" alt="">Déposez vos fichiers ici
                          </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of File" [file]="f" [removable]="true" (removed)="onRemove(f)">
                          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                      </div>
                      <p style="color: #a5a5a5;
                             font-size: 10px;">
                        (*) nombre maximum d'images est 4
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group"><label for="description">Description</label>
                      <textarea class="form-control" id="description" name="description" cols="30" rows="13"
                                [(ngModel)]="newProduit.description"></textarea>
                    </div>
                  </div>
                </div>
                <button class="btn btn-warning mb-3 float-right" type="submit"
                        [disabled]="newProduitCreateForm.invalid || loading">
                  Enregistrer
                  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
