<div *ngIf="error" class="div">
  <ul class="alert alert-danger fa-ul" *ngIf="error=='Les participents doivent appartient a une roue, Pour créer'">
    <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span >{{error}} <a routerLink="/create-roue-chance">cliquer ici.</a></li>
  </ul>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page" routerLink="roueClients">Liste des participants</li>
  </ol>
</nav>
<div *ngIf="societeStorage">

  <app-roue-client-search (searchRoueClient)="loadData($event)"></app-roue-client-search>
  <br>
    <button type="button" class="btn btn-primary float-right" (click)="videCadeaux()">Vider cadeaux <span
      class="fas fa-gift"></span></button>
  <br>
  <br>
  <app-roue-client-list *ngIf="!loading" [roueClientList]="roueClientList"
                        (loadDataDelete)="loadData()"></app-roue-client-list>
  <br>
  <br>
  <app-loading *ngIf="loading"></app-loading>
  <br>
</div>
