<app-loading [message]="loadingMessage" *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="content">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3 btn-reveal-trigger">
        <div class="card-header position-relative min-vh-25 mb-8">
          <div class="cover-image">
            <div class="bg-holder rounded-soft rounded-bottom-0"
                 style="background-image:url({{profile.image_coverture_path}});"></div>
            <!--/.bg-holder-->
          </div>
          <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
            <div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
              <img src="{{profile.image_profile_path}}" width="200" alt="{{profile.nom}}" data-dz-thumbnail></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Annonces : {{newProduits.length }}</h3>
  <app-loading [message]="loadingNewProduitsMessage" *ngIf="loadingNewProduits"></app-loading>
  <app-produits-list [produitList]="newProduits" *ngIf="!loadingNewProduits"></app-produits-list>


  <div class="row no-gutters">
    <div class="col-lg-12 pr-lg-2">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0">Profile</h5>
        </div>
        <div class="card-body bg-light">
          <style>
            li {
              margin-top: 5px;
            }
          </style>
          <ul>
            <li>
              <div class="col-lg-6" style="margin-top: 25px;">
                Vérifié :
                <span style="color: green; font-size: 30px;" *ngIf="profile.email_verified_at != null"
                      class="far fa-check-circle"></span>
                <span style="color: red; font-size: 30px;" *ngIf="profile.email_verified_at == null"
                      class="far fa-times-circle"></span>
              </div>
            </li>
            <li>            Prénom et Nom : <strong>{{profile.prenom}} {{profile.nom}}</strong>
            </li>
<!--
            <li>            Email : <strong>{{profile.email}}</strong>
            </li>
-->
            <li>            Télephone : <strong>{{profile.telephone}}</strong>
            </li>
            <li>            Site web : <a href="{{profile.site_web}}" target="_blank"><strong>{{profile.site_web}}</strong></a>
            </li>
            <li>            Site facebook : <a href="{{profile.site_fb}}" target="_blank"><strong>{{profile.site_fb}}</strong></a>
            </li>
            <li>            Description :
              <p>
                {{profile.description}}
              </p>
            </li>
            <li>            Membre depuis : <strong>{{profile.created_at | slice:0:10}}</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
