<div class="content">
  <div class="row no-gutters">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-body bg-light">
          <div class="row" *ngIf="produitList.length == 0">
            Nous n’avons pas pu trouver les articles que vous recherchez.<br>
            Essayez de modifier les paramètres de votre recherche.
          </div>
          <div class="row" *ngIf="produitList.length != 0">
            <div class="col-xs-6 col-sm-4 mb-4 col-md-6 col-lg-4" *ngFor="let newProduit of produitList">
              <div class="border rounded h-100 d-flex flex-column justify-content-between pb-3">
                <div class="overflow-hidden">
                  <div class="position-relative rounded-top overflow-hidden">
                    <a class="d-block" routerLink="/newProduit/view/{{newProduit.id}}"
                       *ngIf="!newProduit.url_externe" style="text-align: center;">
                      <img class="img-fluid rounded-top" src="{{newProduit.image_path}}"
                           alt="{{newProduit.titre}}" style="max-height: 300px;"/>
                    </a>
                    <a class="d-block" href="{{newProduit.url_externe}}" *ngIf="newProduit.url_externe" target="_blank">
                      <img class="img-fluid rounded-top" src="{{newProduit.image_path}}" alt="{{newProduit.titre}}"/>
                    </a>
                    <span
                      class="badge badge-pill badge-success position-absolute r-0 t-0 mt-2 mr-2 z-index-2">{{newProduit.etat_produit}}</span><br>
                    <span class="badge badge-pill badge-danger position-absolute r-0 t-0 mt-2 mr-2 z-index-2"
                          style="top: 25px;" *ngIf="newProduit.prix_sold">Soldé</span>
                  </div>
                  <div class="p-3">
                    <h5 class="fs-0"><a class="text-dark" routerLink="/newProduit/view/{{newProduit.id}}"
                                        *ngIf="!newProduit.url_externe">{{newProduit.titre}}</a></h5>
                    <h5 class="fs-0"><a class="text-dark" href="{{newProduit.url_externe}}" target="_blank"
                                        *ngIf="newProduit.url_externe">{{newProduit.titre}}</a></h5>
                    <p class="fs--1 mb-3">{{newProduit.sous_category.nom}}</p>
                    <h5 class="d-flex align-items-center" *ngIf="newProduit.prix_sold">
                      <span class="text-warning mr-2">{{newProduit.prix_sold}} DT</span>
                      <span class="mr-1 fs--1 text-500"><del class="mr-1">{{newProduit.prix}} DT</del></span>
                    </h5>
                    <h5 class="d-flex align-items-center" *ngIf="!newProduit.prix_sold">
                      <span class="text-warning mr-2">{{newProduit.prix}} DT</span>
                    </h5>
                    <p class="fs--1" *ngIf="newProduit.quantite>0">Stock: <strong
                      class="text-success">Disponible</strong></p>
                    <p class="fs--1" *ngIf="newProduit.quantite<=0">Stock: <strong class="text-danger">En rupture de
                      stock</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
