<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
<!--
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
-->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">

  <meta name="theme-color" content="#ffffff">

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">

</head>

<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Skip to main content</span>
    </div>
  </a>
<!--  <div class="d-block px-3 py-2 text-center text-bold text-light bg-dark old-bv">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>-->
  <div class="container-fluid" data-layout="container-fluid">
    <nav class="navbar navbar-vertical navbar-expand-xl navbar-light" *ngIf="loggedIn">
      <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">
          <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip"
                  data-placement="left"><span class="navbar-toggle-icon"><span
            class="toggle-line"></span></span></button>
        </div>
        <a class="navbar-brand" routerLink="">
          <div class="d-flex align-items-center py-3"><img class="mr-2" src="/assets/img/favicons/logo.png"
                                                           alt="tboutique" width="120"/></div>
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-glass perfect-scrollbar scrollbar" id="navbarVerticalCollapse">
        <ul class="navbar-nav flex-column">

          <li class="nav-item" *ngIf="loggedIn && routeHome">
            <a class="nav-link dropdown-indicator" href="#cathegories"data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="cathegories">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
              class="far fa-gem"></span></span><span class="nav-link-text">Catégories</span></div>
          </a>
            <ul class="nav collapse show" id="cathegories" data-parent="#navbarVerticalCollapse" >
                <li class="nav-item dropdown dropdown-on-hover" *ngFor="let categorie of categories">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownCathegorieleft" href="test" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">{{categorie.nom}}</a>
                  <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownCathegorieleft">
                    <div class="bg-white rounded-soft py-2">
                      <a class="dropdown-item" href="/produit?category={{categorie.id}}&sousCategory={{sousCategorie.id}}"
                         *ngFor="let sousCategorie of categorie.sousCategories">{{sousCategorie.nom}}</a>
                    </div>
                  </div>
                </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="adminRole">
            <a class="nav-link dropdown-indicator" href="#administration"data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="administration">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
              class="fas fa-chart-pie"></span></span><span class="nav-link-text">Administration</span></div>
          </a>
            <ul class="nav collapse show" id="administration" data-parent="#navbarVerticalCollapse" *ngIf="adminRole">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/admin/users" *ngIf="adminRole">Users</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/admin/users-roles" *ngIf="adminRole">Users Roles</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="societe" *ngIf="adminRole">Societes</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="typeActivite" *ngIf="adminRole">Type d'activité</a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="loggedIn && (adminSocieteRole || adminRole)">
            <a class="nav-link dropdown-indicator" href="#societe"
               data-toggle="collapse" role="button"
               aria-expanded="true" aria-controls="societe">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="fas fa-wrench"></span></span><span class="nav-link-text">Societé</span></div>
            </a>
            <ul class="nav collapse show" id="societe" data-parent="#navbarVerticalCollapse" *ngIf="loggedIn">
              <li class="nav-item">
                <a class="nav-link" routerLink="societe/create" *ngIf="adminSocieteRole || adminRole">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    class="fas fa-store"></span></span><span class="nav-link-text"> Societe</span></div>
                </a>
              </li>
              <li class="nav-item" *ngIf="societeStorage">
                <a class="nav-link" routerLink="societe/map" *ngIf="adminSocieteRole || adminRole">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    class="fas fa-map-marked-alt"></span></span><span class="nav-link-text"> Map</span></div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="loggedIn && (adminSocieteRole || adminRole)">
            <a class="nav-link dropdown-indicator" href="#boutique"
               data-toggle="collapse" role="button"
               aria-expanded="true" aria-controls="boutique">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
              class="fas fa-store"></span></span><span class="nav-link-text">Ma boutique</span></div>
          </a>
            <ul class="nav collapse show" id="boutique" data-parent="#navbarVerticalCollapse" *ngIf="loggedIn">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/categorie" *ngIf="loggedIn">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    class="fas fa-folder-open"></span></span><span class="nav-link-text">Categories</span></div>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/sousCategorie" *ngIf="loggedIn">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    class="fas fa-grip-horizontal"></span></span><span class="nav-link-text">Sous categorie</span></div>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/modele" *ngIf="loggedIn">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    class="fab fa-modx"></span></span><span class="nav-link-text">Modeles</span></div>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/marque" *ngIf="loggedIn">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    class="fas fa-gopuram"></span></span><span class="nav-link-text">Marques</span></div>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/newProduit" *ngIf="loggedIn">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    class="fab fa-product-hunt"></span></span><span class="nav-link-text">Nouveau produit</span></div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="loggedIn && (adminSocieteRole || adminRole)">
            <a class="nav-link dropdown-indicator" href="#reparation"
               data-toggle="collapse" role="button"
               aria-expanded="true" aria-controls="reparation">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="fas fa-wrench"></span></span><span class="nav-link-text">Réparaton</span></div>
            </a>
            <ul class="nav collapse show" id="reparation" data-parent="#navbarVerticalCollapse" *ngIf="loggedIn">
              <li class="nav-item">
                <a class="nav-link" routerLink="/repaire-produits" *ngIf="adminSocieteRole || adminRole">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    class="fas fa-wrench"></span></span><span class="nav-link-text"> Produits</span></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="etat" *ngIf="adminSocieteRole || adminRole">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                    class="far fa-list-alt"></span></span><span class="nav-link-text"> États</span></div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="loggedIn && (adminSocieteRole || adminRole)">
            <a class="nav-link dropdown-indicator" href="#rouechance"
               data-toggle="collapse" role="button"
               aria-expanded="true" aria-controls="rouechance">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="fas fa-chart-pie"></span></span><span class="nav-link-text">Roue de la chance</span></div>
            </a>
            <ul class="nav collapse show" id="rouechance" data-parent="#navbarVerticalCollapse" *ngIf="loggedIn">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/roue-chance/create" *ngIf="loggedIn">Roue</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/roue-chance/elements" *ngIf="loggedIn">Roue elements</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/roue-chance-participant" *ngIf="loggedIn">liste des participants</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="historique" *ngIf="loggedIn && (adminSocieteRole || adminRole)">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="fas fa-history"></span></span><span class="nav-link-text"> Historiques</span></div>
            </a>
          </li>
<!--
          <li class="nav-item">
            <a class="nav-link" routerLink="tarification" *ngIf="loggedIn">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="fas fa-file-invoice-dollar"></span></span><span class="nav-link-text">Tarification</span></div>
            </a>
          </li>
-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/produit-utilisateur" *ngIf="loggedIn && utilisateurRole">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="fab fa-product-hunt"></span></span><span class="nav-link-text">Ajouter annonce</span></div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/notification" *ngIf="loggedIn && utilisateurRole">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="far fa-bell"></span></span><span class="nav-link-text">Notification</span></div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reclamation" *ngIf="loggedIn">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="fas fa-headset"></span></span><span class="nav-link-text"> Créer un ticket</span></div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/scraping" *ngIf="loggedIn">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="fas fa-headset"></span></span><span class="nav-link-text"> scraping</span></div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <nav class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand-lg">
    </nav>
    <div class="content">
      <nav *ngIf="loggedIn" class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">
        <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button"
                data-toggle="collapse" data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse"
                aria-expanded="false"><span class="navbar-toggle-icon"><span
          class="toggle-line"></span></span></button>
        <a class="navbar-brand mr-1 mr-sm-3" routerLink="">
          <div class="d-flex align-items-center">
            <img class="mr-2" src="/assets/img/favicons/logo.png"
                 alt="tboutique" width="120"/>
          </div>
        </a>

        <ul class="navbar-nav navbar-nav-icons ml-auto flex-row align-items-center">
          <li class="nav-item">
            <a class="ml-1 btn btn-outline-primary rounded-capsule mr-1 mb-1" routerLink="/produit-utilisateur"><span class="fas fa-plus-circle"></span> Annonce</a>
          </li>
          <li class="nav-item" *ngIf="!loggedIn">
            <a class="nav-link" routerLink="/authentification/login">Se connecter</a>
          </li>
          <li class="nav-item dropdown dropdown-on-hover"><a class="nav-link pr-0" id="navbarDropdownUser2" href="#"
                                                             role="button" data-toggle="dropdown" aria-haspopup="true"
                                                             aria-expanded="false" *ngIf="loggedIn">
            <div class="avatar avatar-xl">
              <img class="rounded-circle" src="{{profileImg}}" alt="Profile Image"/>
            </div>
          </a>
            <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
              <div class="bg-white rounded-soft py-2">
                <a class="dropdown-item" routerLink="profile">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" (click)="logout($event)">Déconnecter</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
<!--      //////////-->
      <nav *ngIf="!loggedIn" class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand-lg is_stuck">
        <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button" data-toggle="collapse" data-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
        <a class="navbar-brand mr-1 mr-sm-3" routerLink="">
          <div class="d-flex align-items-center">
            <img class="mr-2" src="/assets/img/favicons/logo.png"
                 alt="tboutique" width="120"/>
          </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarStandard">
          <ul class="nav navbar-nav" *ngIf="routeHome">
            <li class="nav-item dropdown dropdown-on-hover" *ngFor="let categorie of categories">
              <a class="nav-link dropdown-toggle" id="navbarDropdownHome" href="test" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">{{categorie.nom}}</a>
              <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownHome">
                <div class="bg-white rounded-soft py-2">
                  <a class="dropdown-item" href="/produit?category={{categorie.id}}&sousCategory={{sousCategorie.id}}"
                     *ngFor="let sousCategorie of categorie.sousCategories">{{sousCategorie.nom}}</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav">
          <li class="nav-item" *ngIf="!loggedIn">
            <a style="white-space: nowrap;" class="nav-link" routerLink="/authentification/login">Se connecter</a>
          </li>
          <li class="nav-item dropdown dropdown-on-hover"><a class="nav-link pr-0" id="navbarDropdownUser3" href="#"
                                                             role="button" data-toggle="dropdown" aria-haspopup="true"
                                                             aria-expanded="false" *ngIf="loggedIn">
            <div class="avatar avatar-xl">
              <img class="rounded-circle" src="{{profileImg}}" alt="Profile Image"/>
            </div>
          </a>
            <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
              <div class="bg-white rounded-soft py-2">
                <a class="dropdown-item" routerLink="profile">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" (click)="logout($event)">Déconnecter</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="ml-1 btn btn-outline-primary rounded-capsule mr-1 mb-1" routerLink="/authentification/login"><span class="fas fa-plus-circle"></span> Annonce</a>
          </li>
        </ul>
      </nav>
<!--      /////////////-->
      <div *ngIf="afficheif && adminSocieteRole">
        <ul class="alert alert-danger fa-ul" *ngIf="!societeStorage">
          <li>
      <span class="fa-li">
        <i class="fas fa-exclamation-triangle"></i>
      </span>Pour commencer, vous devez créer une société. Pour créer <a routerLink="/societe/create">cliquer ici.</a>
          </li>
        </ul>
      </div>

      <div *ngIf="resNb<10" class="div">
        <ul *ngIf="resNb<10 && resNb>0" class="alert alert-warning fa-ul">
          <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>
            Votre abonnement expirera dans quelques jours.<br>
            Pour renouveler votre abonnement,
            vous pouvez <a routerLink="reclamations">créer un ticket</a>
            ou contacter l'administrateur : <a href="tel:26678826">26 678 826</a>
          </li>
        </ul>
        <ul *ngIf="resNb<=0" class="alert alert-danger fa-ul">
          <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>
            Votre abonnement est expiré.<br>
            Pour renouveler votre abonnement,
            vous pouvez <a routerLink="reclamations">créer un ticket</a>
            ou contacter l'administrateur : <a href="tel:26678826">26 678 826</a>
          </li>
        </ul>
      </div>


<!--      <app-recherche-societe *ngIf="routeHome"></app-recherche-societe>-->
      <app-recherche-produit *ngIf="routeHome"></app-recherche-produit>
      <router-outlet (activate)='onActivate($event)'></router-outlet>

      <br>
      <app-footer *ngIf="roueChanceHome"></app-footer>
    </div>
  </div>
</main><!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
  rel="stylesheet">
</body>


</html>
