<div class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0">Recherche utilisateur</h5>
  </div>
  <div class="card-body bg-light">
    <div class="row">
      <div class="col-12">
        <form #marqueSearchForm=ngForm (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nom">Nom</label>
              <input class="form-control" id="nom" name="nom" type="text" placeholder="Nom" [(ngModel)]="form.nom">
            </div>
            <div class="form-group col-md-6">
              <label for="nom">Prenom</label>
              <input class="form-control" id="prenom" name="prenom" type="text" placeholder="Prenom"
                     [(ngModel)]="form.prenom">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="nom">Email</label>
              <input class="form-control" id="email" name="email" type="text" placeholder="Email"
                     [(ngModel)]="form.email">
            </div>
          </div>
          <button class="btn btn-warning mb-3 float-right" type="submit" [disabled]="marqueSearchForm.invalid">
            Recherche
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
