<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<div class="row min-vh-100 flex-center no-gutters" style="margin-top: -5%;">
  <div class="col-lg-8 col-xxl-8 py-3">
    <img class="bg-auth-circle-shape" src="/assets/img/illustrations/bg-shape.png" alt="Image back de reset mot de passe" width="250">
    <img class="bg-auth-circle-shape-2" src="../../assets/img/illustrations/shape-1.png" alt="Image back de reset mot de passe" width="150">
    <div class="card overflow-hidden z-index-1">
      <div class="card-body p-0">
        <div class="row no-gutters h-100">
          <div class="col-md-12 d-flex flex-center">
            <div class="p-4 p-md-5 flex-grow-1">
              <h3>Réinitialisation de votre mot de passe</h3>
              <form #responseresetForm=ngForm (ngSubmit)="onSubmit()">
                <div *ngIf="errors" class="div">
                  <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
                    - {{ item.key }}
                    <li *ngFor="let val of item.value"><span class="fa-li"><i
                      class="fas fa-exclamation-triangle"></i></span>{{val}}
                    </li>
                  </ul>
                </div>
                <div class="form-group"><label for="password">Nouveau mot de passe</label>
                  <div class="input-group">

                    <input class="form-control" type="{{passwordType}}" id="card-reset-password"
                           id="password" name="password" [(ngModel)]="form.password"
                           required minlength="8" #password="ngModel"/>
                    <div class="input-group-append" (click)="hidePassword()">
                    <span *ngIf="hide" class="input-group-text">
                      <i class="fa far fa-eye"></i>
                    </span>
                      <span *ngIf="!hide" class="input-group-text">
                      <i class="far fa-eye-slash"></i>
                    </span>
                    </div>

                  </div>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                      Ce champ est obligatoire
                    </div>
                    <div *ngIf="password.errors.minlength">
                      Mot de passe doit comporter au moins 8 caractères.
                    </div>
                  </div>
                </div>
                <div class="form-group"><label for="password_confirmation">Confirm Password</label>
                  <div class="input-group">

                    <input
                      class="form-control" type="{{passwordType}}" id="password_confirmation"
                      name="password_confirmation"
                      [(ngModel)]="form.password_confirmation"
                      required minlength="8"
                      #passwordConfirm="ngModel"/>
                    <div class="input-group-append" (click)="hidePassword()">
                    <span *ngIf="hide" class="input-group-text">
                      <i class="fa far fa-eye"></i>
                    </span>
                      <span *ngIf="!hide" class="input-group-text">
                      <i class="far fa-eye-slash"></i>
                    </span>
                    </div>

                  </div>
                  <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)"
                       class="alert alert-danger">
                    <div *ngIf="passwordConfirm.errors.required">
                      Ce champ est obligatoire
                    </div>
                    <div *ngIf="passwordConfirm.errors.minlength">
                      Mot de passe doit comporter au moins 8 caractères.
                    </div>
                  </div>

                </div>
                <button class="btn btn-primary btn-block mt-3" [disabled]="responseresetForm.invalid || loading"
                        type="submit" name="submit">Valider
                  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
