<div class="card-header">
  <div class="row align-items-center justify-content-between">
    <div *ngIf="elementList.length == 0">
      Aucun article n'a été trouvé pour votre requête de recherche
    </div>
    <div class="table-responsive" *ngIf="elementList.length != 0">
      <table class="table table-hover table-striped">
        <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Resultat text</th>
          <th scope="col">Couleur</th>
          <th scope="col">Gagne</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of elementList ; let index = index">
          <th scope="row">{{index + 1}}</th>
          <td>{{element.resultText}}</td>
          <td  style="color:{{element.color}}">{{element.color}}</td>
          <td>{{element.win}}</td>
          <td>
            <button class="btn btn-warning" type="button" (click)="showChildModal(element)"
                    style="margin-right: 2px;"><span
              class='fas fa-edit'></span></button>
            <button class="btn btn-danger"
                    (click)="showChildModalDelete(element)"
                    [disabled]="loading[element.id]">
              <span *ngIf="!loading[element.id]" class='far fa-trash-alt'></span>
              <span *ngIf="loading[element.id]" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Modifier RoueElement</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-roue-chance-element-create [element]="element" (loadDataEdit)="handleResponse(element.id)"></app-roue-chance-element-create>
      </div>
    </div>
  </div>
</div>

<div bsModal #childModalDelete="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name-delete" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name-delete" class="modal-title pull-left">Supprimer état</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModalDelete()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-delete [id]="elementId" (request)="deleteRoueElement($event)"></app-delete>
      </div>
    </div>
  </div>
</div>

