<div *ngFor="let t of temp(math.ceil(produisByEtat.length/4)); let i = index" class="card-deck">
  <div *ngFor="let produiByEtat of produisByEtat.slice(4*i,4*i + 4);">
    <div class="card mb-3 overflow-hidden" style="min-width: 18rem">
      <div class="bg-holder bg-card" style="background-image:url(assets/img/illustrations/corner-1.png);"></div>
      <div class="card-body position-relative">
        <h6>{{produiByEtat.nom}}</h6>
        <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-warning"
             data-countupp='{"count":58386,"format":"alphanumeric"}'>{{produiByEtat.num_produit}}
        </div>
        <a class="font-weight-semi-bold fs&#45;&#45;1 text-nowrap" href="/repaire-produits?etat={{produiByEtat.id}}">Voir tout<span
          class="fas fa-angle-right ml-1"
          data-fa-transform="down-1"></span></a>
      </div>
    </div>
  </div>
</div>
