<div *ngIf="error" class="div">
  <ul class="alert alert-danger fa-ul">
    <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
  </ul>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page" routerLink="historiques">Historiques</li>
  </ol>
</nav>
<app-historique-search (searchHistorique)="loadData($event)"></app-historique-search>
<div>
  <br>
</div>
<br>
<app-historique-list *ngIf="!loading || !first" [historiqueList]="historiqueList"></app-historique-list>
<br>
<app-loading *ngIf="loading"></app-loading>
<br>
<div class="input-group" *ngIf="!first">
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <select [disabled]="disableShowMore" class="form-control"
            [(ngModel)]="searchobject.limit">
      <option [ngValue]="10">10</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
    </select>
  </div>
  <div class="col-sm-2">
    <button id="showMore" class="btn btn-warning" (click)="showMore()" [disabled]="loading || disableShowMore">Afficher plus
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
  </div>
</div>
<br>
