<div *ngIf="error" class="div">
  <ul class="alert alert-danger fa-ul">
    <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
  </ul>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page" routerLink="marques">Marques</li>
  </ol>
</nav>
<app-marque-search (searchMarque)="loadData($event)"></app-marque-search>
<div>
  <button type="button" class="btn btn-primary float-right" (click)="showChildModal()">Ajouter<span
    class="fas fa-plus-circle"></span></button>
</div>
<br>
<br>
<app-marque-list *ngIf="!loading || !first" [marqueList]="marqueList" (loadDataDelete)="loadData($event)"></app-marque-list>
<br>
<app-loading *ngIf="loading"></app-loading>
<br>
<div class="input-group" *ngIf="!first">
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <select [disabled]="disableShowMore" class="form-control"
            [(ngModel)]="searchobject.limit">
      <option [ngValue]="10">10</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
    </select>
  </div>
  <div class="col-sm-2">
    <button id="showMore" class="btn btn-warning" (click)="showMore()" [disabled]="loading || disableShowMore">Afficher plus
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
  </div>
</div>
<br>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Ajouter marque</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-marque-create (loadDataAjout)="loadData($event)" *ngIf="showCreate"></app-marque-create>
      </div>
    </div>
  </div>
</div>
