<div *ngIf="error" class="div">
  <ul class="alert alert-danger fa-ul">
    <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
  </ul>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page" routerLink="users">Users</li>
  </ol>
</nav>
<app-user-search (searchUser)="loadData($event)"></app-user-search>
<br>
<!--<app-loading *ngIf="loading"></app-loading>-->
<div class="card mb-3" *ngIf="!loading">
      <div class="card-body bg-light">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col text-center">Role</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of users">
                <td class="align-middle">{{user.id}}</td>
                <td class="align-middle">{{user.nom}}</td>
                <td class="align-middle">{{user.prenom}}</td>
                <td class="align-middle">
                  <ul>
                    <li *ngFor="let role of user.roles">{{role.name}}</li>
                  </ul>
                </td>
                <td class="align-middle">{{user.telephone}}</td>
                <td class="align-middle">{{user.email}}</td>
                <td class="align-middle">
                  <button class="btn btn-warning" (click)="showChildModal(user)"><i class="fas fa-edit"></i></button>
                  &ensp;
                  <button class="btn btn-danger" (click)="showChildModalDelete(user)"><i class="fas fa-trash"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</div>
<div class="input-group" *ngIf="!first">
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <select [disabled]="disableShowMore" class="form-control" style="width: 50%; margin-left: 115px;"
            [(ngModel)]="limit">
      <option [ngValue]="10">10</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
    </select>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-light" (click)="showMore()" [disabled]="loading || disableShowMore">Afficher plus
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
  </div>

</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Ajouter user</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-user-edit *ngIf="currentItem" [item]="currentItem" (loadDataEdit)="loadData()"></app-user-edit>
      </div>
    </div>
  </div>
</div>

<div bsModal #childModalDelete="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name-view" class="modal-title pull-left">Afficher marque</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModalDelete()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--        <app-delete [id]="userId" (request)="deleteItem($event)"></app-delete>-->
      </div>
    </div>
  </div>
</div>
