<div class="content">
  <div class="row no-gutters">
    <div class="col-lg-12 pr-lg-2">
      <div class="card mb-3">
        <div class="card-body bg-light">
          <form #formCreateForm=ngForm (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="nom">Nom</label>
                  <input class="form-control" id="nom" name="nom" type="text" placeholder="Nom"
                         [(ngModel)]="form.nom" required minlength="3" #nom="ngModel"/>
                  <ul *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
                    <li *ngIf="nom.errors.required">
                      Ce champ est obligatoire
                    </li>
                    <li *ngIf="nom.errors.minlength">
                      Nom doit comporter au moins 3 caractères.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="prenom">Prénom</label>
                  <input class="form-control" id="prenom" name="prenom" type="text"
                         placeholder="Prénom" [(ngModel)]="form.prenom" required minlength="3"
                         #nom="ngModel"/>
                  <ul *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
                    <li *ngIf="nom.errors.required">
                      Ce champ est obligatoire
                    </li>
                    <li *ngIf="nom.errors.minlength">
                      Prénom doit comporter au moins 3 caractères.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="telephone">Telephone *</label>
                  <input class="form-control" type="text" name="telephone" id="telephone"
                         [(ngModel)]="form.num_tel" required #telephone="ngModel"
                         minlength="8" maxlength="8" pattern="[0-9]*"/>
                  <ul *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="alert alert-danger">

                    <li *ngIf="telephone.errors.pattern">
                      Ce champ doit contenir que des chiffres
                    </li>
                    <li *ngIf="telephone.errors.required">
                      Ce champ est obligatoire
                    </li>
                    <li *ngIf="telephone.errors.minlength">
                      Téléphone doit comporter au moins 8 chiffre.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="card-email">Adresse e-mail * </label>
                  <input class="form-control" type="email" name="email" id="card-email"
                         [(ngModel)]="form.email" required #email="ngModel" [email]="true"/>
                  <ul *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <li *ngIf="email.errors.required">
                      Ce champ est obligatoire
                    </li>
                    <li *ngIf="email.invalid">
                      L'e-mail doit être de la forme: e-mail@valide.com
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <button class="btn btn-warning mb-3 float-right" type="submit"
                    [disabled]="formCreateForm.invalid || loading">
              Valider
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
