<div class="content">
  <div class="row no-gutters">
    <div class="col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row align-items-center justify-content-between">
            <div class="col-4 col-sm-auto d-flex align-items-center pr-0">
              <h2 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">{{titre}}</h2>
            </div>
            <div class="col-8 col-sm-auto text-right pl-2">
              <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">
                <a href="{{url}}"> Afficher plus >></a></h5>
            </div>
          </div>
        </div>
        <div class="card-body bg-light">
          <app-loading *ngIf="loading"></app-loading>
          <div class="row" *ngIf="!loading">
            <div class="col-md-6 col-lg-3 col-xl-3 col-xxl-2 col-6 col-sm-6" *ngFor="let newProduit of newProduitList">
              <div class="border rounded h-100 d-flex flex-column justify-content-between pb-3">
                <div class="overflow-hidden">
                  <div class="position-relative rounded-top overflow-hidden">
                    <a class="d-block" routerLink="/newProduit/view/{{newProduit.id}}"
                       *ngIf="!newProduit.url_externe" style="text-align: center;">
                      <img class="img-fluid rounded-top" src="{{newProduit.image_path}}"
                           alt="{{newProduit.titre}}" style="max-height: 300px;"/>
                    </a>
                    <a class="d-block" href="{{newProduit.url_externe}}" *ngIf="newProduit.url_externe" target="_blank">
                      <img class="img-fluid rounded-top" src="{{newProduit.image_path}}" alt="{{newProduit.titre}}"/>
                    </a>
                    <span
                      class="badge badge-pill badge-success position-absolute r-0 t-0 mt-2 mr-2 z-index-2">{{newProduit.etat_produit}}</span><br>
                    <span class="badge badge-pill badge-danger position-absolute r-0 t-0 mt-2 mr-2 z-index-2"
                          style="top: 25px;" *ngIf="newProduit.prix_sold">Soldé</span>
                  </div>
                  <div class="p-3">
                    <h5 class="fs-0"><a class="text-dark" routerLink="/newProduit/view/{{newProduit.id}}"
                                        *ngIf="!newProduit.url_externe">{{newProduit.titre}}</a></h5>
                    <h5 class="fs-0"><a class="text-dark" href="{{newProduit.url_externe}}" target="_blank"
                                        *ngIf="newProduit.url_externe">{{newProduit.titre}}</a></h5>
                    <p class="fs--1 mb-3">{{newProduit.sous_category}}</p>
                    <h5 class="d-flex align-items-center" *ngIf="newProduit.prix_sold">
                      <span class="text-warning mr-2">{{newProduit.prix_sold}} DT</span>
                      <span class="mr-1 fs--1 text-500"><del class="mr-1">{{newProduit.prix}} DT</del></span>
                    </h5>
                    <h5 class="d-flex align-items-center" *ngIf="!newProduit.prix_sold">
                      <span class="text-warning mr-2">{{newProduit.prix}} DT</span>
                    </h5>
                    <p class="fs--1 mb-3">
                      <span class="fas fa-map-marker-alt"></span>
                      {{newProduit.delegation}} , {{newProduit.gouvernorat}}
                    </p>

                    <p class="fs--1" *ngIf="newProduit.quantite>0">Stock: <strong
                      class="text-success">Disponible</strong></p>
                    <p class="fs--1" *ngIf="newProduit.quantite<=0">Stock: <strong class="text-danger">En rupture de
                      stock</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
