<!--<button (click)="backClicked()" class="btn btn-warning" style="margin: 10px">Page précédente</button>-->
<app-loading *ngIf="loading"></app-loading>
<div class="card mb-3" *ngIf="!loading">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
        <h5>{{produitUtilisateur.titre}}</h5>
        <p class="fs--1">Référence : {{produitUtilisateur.reference}}</p>
        <p class="fs--1">{{produitUtilisateur.description}}</p>
        <h4 class="d-flex align-items-center">
          <span class="text-warning mr-2">{{produitUtilisateur.prix}} DT</span>
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
    <div *ngFor="let slide of produitUtilisateur.new_produit_images">
      <img width="100%" style="margin-bottom: 20px;" src="{{slide.image_path}}" alt="{{slide.titre}}">
      <br>
    </div>
      </div>
    </div>
<!--
      <div id="imagecontainer">
        <pre>{{srcImage}}</pre>
        <img id="myimage" src="{{srcImage}}">
        <div *ngFor="let slide of produitUtilisateur.new_produit_images; let index = index">
          <a href='#'>
            <img id="thumbscontainer" src="{{slide.image_path}}" alt="{{slide.titre}}" (click)="showimg(index)">
          </a>
        </div>
      </div>
-->
  </div>
</div>
