<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <div class="form-inline search-box">
        <input class="form-control rounded-pill search-input" type="search"
               placeholder="Rechercher société..." aria-label="Search"
               [(ngModel)]="searchObject" (keyup)="search()"/>
        <span class="position-absolute fas fa-search text-400 search-box-icon"></span>
      </div>
      <div style="text-align: center;">
        <a routerLink="/societe-recherche-avance" style="color: orange;">Recherche Avancé
          <span class="fas fa-search"></span>
        </a>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

<!--
<table style="width:100%; margin-top: 20px;" >
  <tr>
    <td width="30%"></td>
    <td width="50%">
      <div class="form-inline search-box">
        <input class="form-control rounded-pill search-input" type="search"
               placeholder="Rechercher société..." aria-label="Search"
               [(ngModel)]="searchObject" (keyup)="search()"/>
        <span class="position-absolute fas fa-search text-400 search-box-icon"></span>
      </div>
    </td>
    <td width="20%"></td>
  </tr>
</table>
-->
<br *ngIf="!loading && listSociete.length!=0">
<app-loading *ngIf="loading"></app-loading>
<div class="card" *ngIf="!loading && listSociete.length==0 && searchObject.length > 2">
  Aucune société n'a été trouvée pour votre requête de recherche.
</div>
<div class="card" *ngIf="!loading && listSociete.length!=0">
  <div class="card-header bg-light">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="mb-0" id="followers">Sociétés <span class="d-none d-sm-inline-block">({{listSociete.length}})</span>
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-light p-0">
    <div class="row no-gutters text-center fs--1">
      <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1" *ngFor="let societe of listSociete">
        <div class="bg-white p-3 h-100">
          <a routerLink="/societe/view/{{societe.id}}">
            <img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm"
                 src="{{societe.image_societe_path}}" alt="{{societe.nom}}" width="100"/>
          </a>
          <h6 class="mb-1"><a routerLink="/societe/view/{{societe.id}}">{{societe.nom}}</a></h6>
          <p class="fs--2 mb-1 text-700">{{societe.ville}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
