<div class="container">
  <nav aria-label="breadcrumb" *ngIf="!loading">
    <ol class="breadcrumb" *ngIf="newProduit">
      <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
      <li class="breadcrumb-item"><a routerLink="/produit">Produits</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/produit?category={{newProduit.sous_category.category.id}}">
          {{newProduit.sous_category.category.nom}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="/produit?category={{newProduit.sous_category.category.id}}&sousCategory={{newProduit.sous_category.id}}">
          {{newProduit.sous_category.nom}}</a></li>
    </ol>
  </nav>

  <app-loading *ngIf="loading"></app-loading>
  <div class="card mb-3" *ngIf="!loading">
    <div class="card-body" *ngIf="!newProduit">
      Ce produit n'existe pas
    </div>
    <div class="card-body" *ngIf="newProduit">
      <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">

          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slide of newProduit.new_produit_images">
              <img src="{{slide.image_path}}" alt="{{slide.titre}}">
            </ng-template>
          </owl-carousel-o>
          <br>
          <br>

          <!--        <img width="100%" src="{{newProduit.image_path}}" alt="{{newProduit.titre}}">-->
        </div>
        <div class="col-lg-6">
          <h1 style="font-size: x-large;">{{newProduit.titre}}</h1>
          <!--        <p class="fs&#45;&#45;1" *ngIf="newProduit.reference"><strong>Référence :</strong> {{newProduit.reference}}</p>-->
          <p class="fs--1"><strong>Description:</strong> {{newProduit.description}}</p>
          <div
            *ngIf="newProduit.paiement_facilite_3_mois || newProduit.paiement_facilite_6_mois || newProduit.paiement_facilite_12_mois">
            <strong>Paiement par facilité</strong>
            <table class="table table-hover" style="width: 50%">
              <tbody>
              <tr *ngIf="newProduit.paiement_facilite_3_mois">
                <td>3 mois</td>
                <td>{{newProduit.paiement_facilite_3_mois}} TD</td>
              </tr>
              <tr *ngIf="newProduit.paiement_facilite_6_mois">
                <td>6 mois</td>
                <td>{{newProduit.paiement_facilite_6_mois}} TD</td>
              </tr>
              <tr *ngIf="newProduit.paiement_facilite_12_mois">
                <td>12 mois</td>
                <td>{{newProduit.paiement_facilite_12_mois}} TD</td>
              </tr>
              </tbody>
            </table>

          </div>
          <h4 class="d-flex align-items-center" *ngIf="newProduit.prix_sold">
            <span class="text-warning mr-2">{{newProduit.prix_sold}} DT</span>
            <span class="mr-1 fs--1 text-500"><del class="mr-1">{{newProduit.prix}} DT</del></span>
          </h4>
          <h4 class="d-flex align-items-center" *ngIf="!newProduit.prix_sold">
            <span class="text-warning mr-2">{{newProduit.prix}} DT</span>
          </h4>
          <p class="fs--1" *ngIf="newProduit.quantite>0">Stock: <strong class="text-success">Disponible</strong></p>
          <p class="fs--1" *ngIf="newProduit.quantite<=0">Stock: <strong class="text-danger">En rupture de stock</strong>
          </p>
          <hr *ngIf="newProduit.modele">
          <div class="row" *ngIf="newProduit.modele">
            <div class="col-lg-2" *ngIf="newProduit.modele.marque.id!=0">
              <img class="rounded-circle" style="width: 70px; height: 70px" src="{{newProduit.modele.marque.image_path}}"
                   alt="{{newProduit.modele.marque.nom}}"/>
            </div>
            <div class="col-lg-6" style="margin-top: 10px;">
              <strong>Marque :</strong>
              <a href="/produit?marque={{newProduit.modele.marque.id}}">
                {{newProduit.modele.marque.nom}}</a>
              <span *ngIf="newProduit.modele.marque.id==0"> : {{newProduit.autre_marque}}</span><br>
              <strong>Modele :</strong>
              <a href="/produit?marque={{newProduit.modele.marque.id}}&modele={{newProduit.modele.id}}">
                {{newProduit.modele.nom}}</a>
              <span *ngIf="newProduit.modele.id==0"> : {{newProduit.autre_modele}}</span>
            </div>
          </div>
          <hr>
          <div>
            <strong>Adresse :</strong> {{newProduit.adresse}} <br>
            <strong>Complement adresse:</strong> {{newProduit.complement_adresse}}
            <br>
            <strong>Gouvernorat :</strong>
            <a href="/produit?gouvernorat={{newProduit.gouvernorat_id}}">

              {{newProduit.gouvernorat.nom}}</a> <span
            *ngIf="newProduit.gouvernorat_id==0"> : {{newProduit.autre_gouvernorat}}</span><br>
            <strong>Delegation :</strong>
            <a href="/produit?gouvernorat={{newProduit.gouvernorat_id}}&delegation={{newProduit.delegation_id}}">
              {{newProduit.delegation.nom}}</a> <span
            *ngIf="newProduit.delegation_id==0"> : {{newProduit.autre_delegation}}</span><br>
          </div>
          <hr>
          <div class="row" *ngIf="!newProduit.societe">
            <div class="col-lg-2">
              <img class="rounded-circle" style="width: 70px; height: 70px" src="{{newProduit.user.image_profile_path}}"
                   alt="Profile Image"/>
            </div>
            <div class="col-lg-6" style="margin-top: 10px;">
              <strong>Vendeur:</strong> <a
              routerLink="/profile/{{newProduit.user.id}}"> {{newProduit.user.nom}} {{newProduit.user.prenom}}</a> <br>
              <strong *ngIf="newProduit.etat == 1">Numéro de téléphone:</strong> <a
              href="tel:{{newProduit.user.telephone}}" *ngIf="newProduit.etat == 1"> {{newProduit.user.telephone}}</a>
              <br>
              <strong *ngIf="newProduit.user.site_fb && newProduit.etat == 1">Contact: </strong> <a
              *ngIf="newProduit.user.site_fb && newProduit.etat == 1" target="_blank" class="btn btn-primary"
              href="https://m.me/{{username}}"><span class='fab fa-facebook-messenger'></span></a>
            </div>
          </div>
          <div class="row" *ngIf="newProduit.societe">
            <div class="col-lg-2">
              <img class="rounded-circle" style="width: 70px; height: 70px" src="{{newProduit.societe.image_societe_path}}"
                   alt="{{newProduit.societe.image_societe_name}}"/>
            </div>
            <div class="col-lg-6" style="margin-top: 10px;">
              <strong>Société:</strong> <a
              routerLink="/societe/view/{{newProduit.societe.id}}"> {{newProduit.societe.nom}}</a> <br>
              <strong>Numéro de téléphone:</strong>
              <a *ngIf="newProduit.societe.telephone_mobile" href="tel:{{newProduit.societe.telephone_mobile}}"> {{newProduit.societe.telephone_mobile}}</a> <span *ngIf="newProduit.societe.telephone_fix">/</span>
              <a *ngIf="newProduit.societe.telephone_fix" href="tel:{{newProduit.societe.telephone_fix}}"> {{newProduit.societe.telephone_fix}}</a>
              <br>
              <strong *ngIf="newProduit.societe.site_fb">Contact: </strong> <a
              *ngIf="newProduit.societe.site_fb" target="_blank" class="btn btn-primary"
              href="https://m.me/{{username}}"><span class='fab fa-facebook-messenger'></span></a>
            </div>
          </div>

        </div>
      </div>
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous"
              src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v11.0&appId=611338383147275&autoLogAppEvents=1"
              nonce="F4UvhsME"></script>
      <a class="btn btn-primary" target="_blank"
         href="https://www.facebook.com/sharer/sharer.php?u=http://api.tboutique.tn/produit/{{newProduit.id}}"><span
        class='fab fa-facebook-square'></span> Partager</a>
      <button class="btn btn-primary leftBTN" ngxClipboard [cbContent]="copierUrl"><span class='far fa-clipboard'></span>
        Copier url
      </button>
      <span class="far fa-eye leftBTN"></span> {{newProduit.totalView}}
      <br>
      <br>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Attribut</th>
          <th scope="col">Valeur</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="newProduit.typeTransaction">
          <td>Type de transaction</td>
          <td>{{newProduit.typeTransaction}}</td>
        </tr>
        <tr *ngIf="newProduit.chambres">
          <td>Chambres</td>
          <td>{{newProduit.chambres}}</td>
        </tr>
        <tr *ngIf="newProduit.superficie">
          <td>Superficie (m²)</td>
          <td>{{newProduit.superficie}}</td>
        </tr>
        <tr *ngIf="newProduit.couleur">
          <td>Couleur</td>
          <td>{{newProduit.couleur}}</td>
        </tr>
        <tr *ngIf="newProduit.typeCarrosserie">
          <td>Type de carrosserie</td>
          <td>{{newProduit.typeCarrosserie}}</td>
        </tr>
        <tr *ngIf="newProduit.boite">
          <td>Boite</td>
          <td>{{newProduit.boite}}</td>
        </tr>
        <tr *ngIf="newProduit.cylindre">
          <td>Cylindre</td>
          <td>{{newProduit.cylindre}}</td>
        </tr>
        <tr *ngIf="newProduit.kilometrage">
          <td>Kilometrage</td>
          <td>{{newProduit.kilometrage}}</td>
        </tr>
        <tr *ngIf="newProduit.annee">
          <td>Annee</td>
          <td>{{newProduit.annee}}</td>
        </tr>
        <tr *ngIf="newProduit.carburant">
          <td>Carburant</td>
          <td>{{newProduit.carburant}}</td>
        </tr>
        <tr *ngIf="newProduit.puissanceFiscale">
          <td>Puissance fiscale</td>
          <td>{{newProduit.puissanceFiscale}}</td>
        </tr>
        </tbody>
      </table>

      <hr>
      <div class="row">
        <div class="col-lg-12"
             *ngFor="let slide of newProduit.new_produit_images">
          <img width="100%" src="{{slide.image_path}}" alt="{{slide.titre}}">
        </div>
      </div>

      <!--
          <div class="card-footer bg-light pt-0">
            <div class="border-bottom border-200 fs&#45;&#45;1 py-3"><a class="text-700" href="#!">345 Likes</a> &bull; <a class="text-700" href="#!">34 Comments</a></div>
            <div class="row no-gutters font-weight-semi-bold text-center py-2 fs&#45;&#45;1">
              <div class="col-auto"><a class="rounded d-flex align-items-center mr-3" href="#!"><img src="../assets/img/illustrations/like-active.png" width="20" alt="" /><span class="ml-1">Like</span></a></div>
              <div class="col-auto"><a class="rounded d-flex align-items-center mr-3" href="#!"><img src="../assets/img/illustrations/comment-active.png" width="20" alt="" /><span class="ml-1">Comment</span></a></div>
              <div class="col-auto d-flex align-items-center"><a class="rounded text-700 d-flex align-items-center" href="#!"><img src="../assets/img/illustrations/share-inactive.png" width="20" alt="" /><span class="ml-1">Share</span></a></div>
            </div>
            <form class="d-flex align-items-center border-top border-200 pt-3">
              <div class="avatar avatar-xl">
                <img class="rounded-circle" src="../assets/img/team/3.jpg" alt="" />
              </div><input class="form-control rounded-capsule ml-2 fs&#45;&#45;1" type="text" placeholder="Write a comment..." />
            </form>
            <div class="media mt-3">
              <div class="avatar avatar-xl">
                <img class="rounded-circle" src="../assets/img/team/4.jpg" alt="" />
              </div>
              <div class="media-body ml-2 fs&#45;&#45;1">
                <p class="mb-1 bg-200 rounded-soft p-2"><a class="font-weight-semi-bold" href="../pages/profile.html">Rowan Atkinson</a> She starred as Jane Porter in The <a href="#!">@Legend of Tarzan (2016)</a>, Tanya Vanderpoel in Whiskey Tango Foxtrot (2016) and as DC comics villain Harley Quinn in Suicide Squad (2016), for which she was nominated for a Teen Choice Award, and many other awards.</p>
                <div class="px-2"><a href="#!">Like</a> &bull; <a href="#!">Reply</a> &bull; 23min </div>
              </div>
            </div>
            <div class="media mt-3">
              <div class="avatar avatar-xl">
                <img class="rounded-circle" src="../assets/img/team/3.jpg" alt="" />
              </div>
              <div class="media-body ml-2 fs&#45;&#45;1">
                <p class="mb-1 bg-200 rounded-soft p-2"><a class="font-weight-semi-bold" href="../pages/profile.html">Jessalyn Gilsig</a> Jessalyn Sarah Gilsig is a Canadian-American actress known for her roles in television series, e.g., as Lauren Davis in Boston Public, Gina Russo in Nip/Tuck, Terri Schuester in Glee, and as Siggy Haraldson on the History Channel series Vikings. 🏆</p>
                <div class="px-2"><a href="#!">Like</a> &bull; <a href="#!">Reply</a> &bull; 3hrs </div>
              </div>
            </div><a class="fs&#45;&#45;1 text-700 d-inline-block mt-2" href="#!">Load more comments (2 of 34)</a>
          </div>
      -->


    </div>
  </div>




</div>
