<app-loading *ngIf="loading"></app-loading>
<div class="col-12" *ngIf="!produitResultat">
  <div *ngIf="error" class="div">
    <ul class="alert alert-danger fa-ul">
      <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
    </ul>
  </div>
  <div *ngIf="errors" class="div">
    <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
      - {{ item.key }}
      <li *ngFor="let val of item.value"><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{val}}
      </li>
    </ul>
  </div>

  <div *ngIf="!loading" class="content">
    <div class="row no-gutters">
      <div class="col-lg-12 pr-lg-2">
        <div class="card mb-3">
          <div class="card-body bg-light">
            <form #produitUpdateForm=ngForm (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="reference">Référence</label>
                    <input class="form-control" id="reference" name="reference" type="text"
                           [value]="produit.reference" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="nom">Nom de produit </label>
                    <input class="form-control" id="nom" name="nom" type="text" [(ngModel)]="produit.nom"
                           minlength="3" maxlength="255"
                           #nom="ngModel">
                    <ul *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
                      <li *ngIf="nom.errors.minlength">
                       Nom doit comporter au moins 3 caractères.
                      </li>
                      <li *ngIf="nom.errors.maxlength">
                        Nom doit contenir au maximum 255 caractères.
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="etat">Statut *</label>
                    <select class="form-control" id="etat" name="etat"
                            [(ngModel)]="produit.etat_id" required #etat_id="ngModel">
                      <option *ngFor="let etat of listEtat" [value]="etat.id">
                        {{etat.nom}}
                      </option>
                    </select>
                    <ul *ngIf="etat_id.invalid && (etat_id.dirty || etat_id.touched)" class="alert alert-danger">
                      <li *ngIf="etat_id.errors.required">
                        Ce champ est obligatoire
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="nom_client">Nom du client</label>
                    <input class="form-control" id="nom_client" name="nom_client" type="text"
                           [(ngModel)]="produit.nom_client"
                           minlength="3" maxlength="255"
                           #nom_client="ngModel">
                    <ul *ngIf="nom_client.invalid && (nom_client.dirty || nom_client.touched)"
                        class="alert alert-danger">
                      <li *ngIf="nom_client.errors.minlength">
                        Nom doit comporter au moins 3 caractères.
                      </li>
                      <li *ngIf="nom_client.errors.maxlength">
                        Nom doit contenir au maximum 255 caractères.
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group"><label for="telephone">Téléphone</label>
                    <input class="form-control" id="telephone" name="telephone" type="text"
                           [(ngModel)]="produit.telephone" #telephone="ngModel" minlength="8"
                           maxlength="8" pattern="[0-9]*">
                    <ul *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)"
                        class="alert alert-danger">
                      <li *ngIf="telephone.errors.pattern">
                        Ce champ doit contenir que des chiffres
                      </li>
                      <li *ngIf="telephone.errors.minlength">
                        Ce champ doit comporter 8 chiffres
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group"><label for="email">Adresse e-mail
                  </label>
                    <input class="form-control" type="email" name="email" id="email"
                           [(ngModel)]="produit.email" #email="ngModel" [email]="true"/>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                      <div *ngIf="email.invalid">
                        L'e-mail doit être de la forme: e-mail@valide.com
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group"><label for="description_agent">Commentaire pour les vendeurs</label>
                    <textarea class="form-control" id="description_agent" name="description_agent" cols="30" rows="13"
                              [(ngModel)]="produit.description_agent"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group"><label for="description_client">Message pour les clients</label>
                    <textarea class="form-control" id="description_client" name="description_client" cols="30" rows="13"
                              [(ngModel)]="produit.description_client"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-primary" type="submit" [disabled]="produitUpdateForm.invalid || loading">
                  Valider
                  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="produitResultat">
  <div id="pageId">
    <br>
    <br>
    <br>
    <table>
      <tr>
        <td width="800px">
          <img src="{{produitResultat.societe.image_societe_path}}" style="width: 2.5cm;"
               alt="{{produitResultat.societe.nom}}">
          <h3>{{produitResultat.societe.nom}}</h3>
        </td>
        <td width="200px">
          <h1>FACTURE</h1>
          <p><strong>N° {{produitResultat.reference}}</strong></p>
        </td>
      </tr>
    </table>
    <br>
    <hr>
    <table>
      <tr>
        <td width="500px">
          <p>
            <u><h4>Société</h4></u><br>
            <strong>Nom :</strong> {{produitResultat.societe.nom}}<br>
            <strong>Téléphone :</strong>  {{produitResultat.societe.telephone_mobile}}
            / {{produitResultat.societe.telephone_fix}}<br>
          </p>
        </td>
        <td width="500px">
        </td>
      </tr>
    </table>
    <br>
    <hr>
    <table>
      <tr>
        <td width="750px">
        </td>
        <td width="300px">
          <u><h4>Client</h4></u>
          <p>
            <strong>Nom</strong> : {{produitResultat.nom_client}}<br>
            <strong>Téléphone :</strong> {{produitResultat.telephone}}
          </p>
        </td>
      </tr>
    </table>
    <br>
    <hr>
    <table border="1" width="100%">
      <tr>
        <td width="20%" style="background-color: #d7d9f2">
          <strong>Référence produit</strong>
        </td>
        <td width="80%" style="text-align: center;">
          {{produitResultat.reference}}
        </td>
      </tr>
      <tr>
        <td width="20%" style="background-color: #d7d9f2">
          <strong>Nom produit</strong>
        </td>
        <td width="80%" style="text-align: center;">
          {{produitResultat.nom}}
        </td>
      </tr>
      <tr>
        <td width="20%" style="background-color: #d7d9f2">
          <strong>date :</strong>
        </td>
        <td width="80%" style="text-align: center;">
          {{produitResultat.created_at}}
        </td>
      </tr>
      <tr>
        <td width="20%" style="background-color: #d7d9f2">
          <strong>description :</strong>
        </td>
        <td width="80%" style="text-align: center;">
          {{produitResultat.description_client}}
        </td>
      </tr>
    </table>
    <br><br>
    <hr>
    <table style="width:100%; text-align: center">
      <tr>
        <td>
          {{produitResultat.societe.nom}}<br>
          {{produitResultat.societe.email}}<br>
          {{produitResultat.societe.telephone_mobile}} / {{produitResultat.societe.telephone_fix}}<br>
          {{produitResultat.societe.ville}}, {{produitResultat.societe.adresse}}
          , {{produitResultat.societe.code_postal}}<br>
          {{produitResultat.societe.complement_adresse}}<br>
          {{produitResultat.societe.site_web}}<br>
          {{produitResultat.societe.site_fb}}<br>
        </td>
      </tr>
    </table>

    <hr>
    <table id="footer">
      <tr>
        <td width="300px">
        </td>
        <td width="400px">
          <u><strong>www.tboutique.tn</strong></u>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-auto">
    <button printSectionId="pageId" [useExistingCss]="true" ngxPrint
            class="btn btn-falcon-default btn-sm mr-2 mb-2 mb-sm-0 float-right" type="button"><span
      class="fas fa-print mr-1"> </span>Print
    </button>
  </div>
</div>

