<app-loading *ngIf="loading"></app-loading>
<div class="col-12">
  <div *ngIf="error" class="div">
    <ul class="alert alert-danger fa-ul">
      <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
    </ul>
  </div>
  <div *ngIf="errors" class="div">
    <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
      - {{ item.key }}
      <li *ngFor="let val of item.value"><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{val}}
      </li>
    </ul>
  </div>

  <div *ngIf="!loading" class="content">
    <div class="row" *ngIf="societe.id!=null">
      <div class="col-12">
        <div class="card mb-3 btn-reveal-trigger">
          <div class="card-header position-relative min-vh-25 mb-8">
            <div class="cover-image">
              <div class="bg-holder rounded-soft rounded-bottom-0"
                   style="background-image:url({{societe.image_coverture_path}});"></div>
              <!--/.bg-holder-->
              <input class="d-none" id="upload-cover-image" type="file" (change)="onFileCovertureSelect($event)"><label
              class="cover-image-file-input"
              for="upload-cover-image"><span
              class="fas fa-camera mr-2"></span><span>Changer la photo de couverture</span></label>
            </div>
            <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle" *ngIf="societe">
              <div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
                <img src="{{societe.image_societe_path}}" width="200"
                     alt="{{societe.nom}}}" data-dz-thumbnail>
                <input class="d-none" id="profile-image" type="file" (change)="onFileSelect($event)">
                <label
                  class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span
                  class="bg-holder overlay overlay-0"></span><span class="z-index-1 text-white text-center fs--1"><span
                  class="fas fa-camera"></span><span class="d-block">Changer la photo de profile</span></span></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-12 pr-lg-2">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="mb-0">Creation de la société</h5>
          </div>
          <div class="card-body bg-light">
            <form #societeUpdateForm=ngForm (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="reference_societe">Référence de la societe</label>
                    <input class="form-control" id="reference_societe" name="reference_societe" type="text"
                           [value]="societe.reference_societe" disabled>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="notre_code_invitation">Code de parrainage</label>
                    <input class="form-control" id="notre_code_invitation" name="notre_code_invitation" type="text"
                           [value]="societe.notre_code_invitation" disabled>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="notre_code_invitation">Slug</label>
                    <input class="form-control" id="slug" name="slug" type="text"
                           [value]="societe.slug" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="nom">Nom de la societe *</label>
                    <input class="form-control" id="nom" name="nom" type="text" [(ngModel)]="societe.nom"
                           required minlength="3" maxlength="255"
                           #nom="ngModel" (change)="checkSlug()">
                    <ul *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
                      <li *ngIf="nom.errors.required">
                        Ce champ est obligatoire
                      </li>
                      <li *ngIf="nom.errors.minlength">
                       Nom doit comporter au moins 3 caractères.
                      </li>
                      <li *ngIf="nom.errors.maxlength">
                        Nom doit contenir au maximum 255 caractères.
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="type_activite">Secteur d'activité *</label>
                    <select class="form-control" id="type_activite" name="type_activite"
                            [(ngModel)]="societe.type_activite_id"
                            #type_activite="ngModel" required>
                      <option *ngFor="let typeActivite of listTypeActivite" [value]="typeActivite.id">
                        {{typeActivite.nom}}
                      </option>
                    </select>
                    <ul *ngIf="type_activite.invalid && (type_activite.dirty || type_activite.touched)" class="alert alert-danger">
                      <li *ngIf="type_activite.errors.required">
                        Ce champ est obligatoire
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="gouvernorat">Gouvernorat *</label>
                    <select class="form-control" id="gouvernorat" name="gouvernorat"
                            [(ngModel)]="societe.gouvernorat_id" required
                            #gouvernorat="ngModel" (change)='findDelegation()'>
                      <option *ngFor="let gouvernorat of listGouvernorat" [value]="gouvernorat.id">
                        {{gouvernorat.nom}}
                      </option>
                    </select>
                    <ul *ngIf="gouvernorat.invalid && (gouvernorat.dirty || gouvernorat.touched)" class="alert alert-danger">
                      <li *ngIf="gouvernorat.errors.required">
                        Ce champ est obligatoire
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="delegation">Delegation *</label>
                    <select class="form-control" id="delegation" name="delegation" [(ngModel)]="societe.delegation_id"
                            #delegation="ngModel"  required>
                      <option [value]=""></option>
                      <option *ngFor="let delegation of listDelegation" [value]="delegation.id">
                        {{delegation.nom}}
                      </option>
                    </select>
                    <ul *ngIf="delegation.invalid && (delegation.dirty || delegation.touched)" class="alert alert-danger">
                      <li *ngIf="delegation.errors.required">
                        Ce champ est obligatoire
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="adresse">Adresse *</label>
                    <input class="form-control" id="adresse" name="adresse" type="text" [(ngModel)]="societe.adresse"
                           required minlength="3" maxlength="255"
                           #adresse="ngModel">
                    <ul *ngIf="adresse.invalid && (adresse.dirty || adresse.touched)" class="alert alert-danger">
                      <li *ngIf="adresse.errors.pattern">
                        Adresse doit contenire que de carectere alphabitique et des chiffres.
                      </li>
                      <li *ngIf="adresse.errors.required">
                        Ce champ est obligatoire
                      </li>
                      <li *ngIf="adresse.errors.minlength">
                        Nom doit comporter au moins 3 caractères.
                      </li>
                      <li *ngIf="adresse.errors.maxlength">
                        Adresse doit contenir au maximum 255 caractères.
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="complement_adresse">Complément d'adresse</label>
                    <input class="form-control" id="complement_adresse" name="complement_adresse" type="text"
                           [(ngModel)]="societe.complement_adresse"
                           placeholder="Appartement, étage, porte, couloir"
                           maxlength="255" #complement_adresse="ngModel">
                    <ul *ngIf="complement_adresse.invalid && (complement_adresse.dirty || complement_adresse.touched)"
                        class="alert alert-danger">
                      <li *ngIf="complement_adresse.errors.maxlength">
                        Complément d'adresse doit contenir au maximum 255 caractères.
                      </li>
                    </ul>

                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="code_postal">Code postal *</label>
                    <input class="form-control" id="code_postal" name="code_postal" type="text"
                           [(ngModel)]="societe.code_postal"
                           required minlength="4" maxlength="4"
                           pattern="[0-9]*"
                           #code_postal="ngModel">
                    <ul *ngIf="code_postal.invalid && (code_postal.dirty || code_postal.touched)"
                        class="alert alert-danger">
                      <li *ngIf="code_postal.errors.pattern">
                        Ce champ doit contenire que des chiffres.
                      </li>
                      <li *ngIf="code_postal.errors.required">
                        Ce champ est obligatoire
                      </li>
                      <li *ngIf="code_postal.errors.minlength">
                        Ce champ doit comporter 4 chiffres
                      </li>
                      <li *ngIf="code_postal.errors.maxlength">
                        Code postal doit contenir au maximum 4 caractères.
                      </li>
                    </ul>

                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="card-email">Adresse e-mail
                      *</label>
                    <input class="form-control" type="email" name="email" id="card-email"
                           [(ngModel)]="societe.email" required #email="ngModel" [email]="true"/>

                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                      <div *ngIf="email.errors.required">
                        Ce champ est obligatoire
                      </div>
                      <div *ngIf="email.invalid">
                        L'e-mail doit être de la forme: e-mail@valide.com
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="telephone">Téléphone mobile *</label>
                    <input class="form-control" id="telephone" name="telephone" type="text"
                           [(ngModel)]="societe.telephone_mobile" required #telephone="ngModel" minlength="8"
                           maxlength="8" pattern="[0-9]*">
                    <ul *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="alert alert-danger">

                      <li *ngIf="telephone.errors.pattern">
                        Téléphone doit contenire que des chiffres.
                      </li>
                      <li *ngIf="telephone.errors.required">
                        Ce champ est obligatoire
                      </li>
                      <li *ngIf="telephone.errors.minlength">
                        Ce champ doit comporter 8 chiffres
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group"><label for="telephone_fix">Téléphone fix</label>
                    <input class="form-control" id="telephone_fix" name="telephone_fix" type="text"
                           [(ngModel)]="societe.telephone_fix" #telephone_fix="ngModel" minlength="8"
                           maxlength="8" pattern="[0-9]*">
                    <ul *ngIf="telephone_fix.invalid && (telephone_fix.dirty || telephone_fix.touched)"
                        class="alert alert-danger">
                      <li *ngIf="telephone_fix.errors.pattern">
                        Ce champ doit contenir que des chiffres
                      </li>
                      <li *ngIf="telephone_fix.errors.minlength">
                        Ce champ doit comporter 8 chiffres
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group"><label for="site_web">Site web</label>
                    <input class="form-control" id="site_web" name="site_web" type="text"
                           [(ngModel)]="societe.site_web" #site_web="ngModel" maxlength="255">
                    <ul *ngIf="site_web.invalid && (site_web.dirty || site_web.touched)"
                        class="alert alert-danger">
                      <li *ngIf="site_web.errors.maxlength">
                        Complément d'adresse doit contenir au maximum 255 caractères.
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group"><label for="site_fb">Site facebook</label>
                    <input class="form-control" id="site_fb" name="site_fb"
                           type="text" [(ngModel)]="societe.site_fb" #site_fb="ngModel" maxlength="255">
                    <ul *ngIf="site_fb.invalid && (site_fb.dirty || site_fb.touched)"
                        class="alert alert-danger">
                      <li *ngIf="site_fb.errors.maxlength">
                        Complément d'adresse doit contenir au maximum 255 caractères.
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group"><label for="description">Description de votre société</label>
                    <textarea class="form-control" id="description" name="description" cols="30" rows="13"
                              [(ngModel)]="societe.description"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="votre_code_invitation">Si vous avez un code de parrainage merci de renseigner
                      ici</label>
                    <input class="form-control" id="votre_code_invitation" name="votre_code_invitation"
                           type="text" [(ngModel)]="societe.votre_code_invitation">
                  </div>
                </div>
              </div>

              <div class="col-12 d-flex justify-content-end">
                <a *ngIf="societe.id!=null" class="btn btn-primary" routerLink="/societe/view/{{societe.id}}"
                   target="_blank">
                  Afficher en tant que visiteur
                </a>
                <button class="btn btn-primary" type="submit"
                        [disabled]="societeUpdateForm.invalid || loadingUpdate"
                        style="margin-left: 10px;">
                  Valider
                  <span *ngIf="loadingUpdate" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
