<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page" routerLink="elements">Roue elements</li>
  </ol>
</nav>
<div *ngIf="!loading">
  <div *ngIf="!societeStorage">
    <ul class="alert alert-danger fa-ul">
      <li>
      <span class="fa-li">
        <i class="fas fa-exclamation-triangle"></i>
      </span>Pour commencer, vous devez créer une société. pour créer <a routerLink="/societe/create">cliquer ici</a>
      </li>
    </ul>
  </div>
  <div *ngIf="error" class="div">
    <ul class="alert alert-danger fa-ul" *ngIf="error=='Les elemets doivent appartient a une roue, Pour créer'">
      <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span >{{error}} <a routerLink="/create-roue-chance">cliquer ici.</a></li>
    </ul>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="societeStorage">
  <div>
    <button type="button" class="btn btn-primary float-right" (click)="showChildModal()">Ajouter<span
      class="fas fa-plus-circle"></span></button>
  </div>
  <br>
  <br>
  <app-roue-chance-element-list *ngIf="!loading" [elementList]="elementList" (loadDataDelete)="loadData()"></app-roue-chance-element-list>
  <br>
  <br>
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Ajouter element</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-roue-chance-element-create (loadDataAjout)="loadData()" *ngIf="isCreating"></app-roue-chance-element-create>
      </div>
    </div>
  </div>
</div>
