<div class="card-header">
  <div class="row align-items-center justify-content-between">

    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td>{{categorie.nom}}</td>
        </tr>
        <tr>
          <th scope="row">Ordre</th>
          <td>{{categorie.order}}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{categorie.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
