<div class="card-header">
  <div class="row align-items-center justify-content-between">

    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td>{{marque.nom}}</td>
        </tr>
        <tr>
          <th scope="row">Logo</th>
          <td><img src="{{marque.image_path}}"
                   alt="{{marque.image_name}}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
