<div class="chat-sidebar">
  <div class="contacts-list bg-white scrollbar perfect-scrollbar">
    <div class="nav nav-tabs border-0 flex-column" role="tablist" aria-orientation="vertical">
      <div class="media chat-contact hover-actions-trigger w-100 active" id="chat-link-0" data-toggle="tab" data-target="#chat-0" role="tab" aria-controls="chat-0" aria-selected="true">
        <div class="avatar avatar-xl status-online">
          <img class="rounded-circle" src="assets/img/team/2.jpg" alt="" />
        </div>
        <div class="media-body chat-contact-body ml-2 d-md-none d-lg-block">
          <div class="d-flex justify-content-between">
            <h6 class="mb-0 chat-contact-title">Antony Hopkins</h6><span class="message-time fs--2">Tue</span>
          </div>
          <div class="min-w-0">
            <div class="chat-contact-content pr-3">Antony
              sent
              6 photos</div>
            <div class="dropdown dropdown-active-trigger position-absolute b-0 r-0 hover-actions"><button class="btn btn-link btn-sm text-400 dropdown-toggle dropdown-caret-none p-0 fs-0" type="button" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-cog" data-fa-transform="shrink-3 down-4"></span></button>
              <div class="dropdown-menu dropdown-menu-right border py-2 rounded-soft"><a class="dropdown-item" href="#!">Mute</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item" href="#!">Delete</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Mark as Unread</a><a class="dropdown-item" href="#!">Something's Wrong</a><a class="dropdown-item" href="#!">Ignore Messsages</a><a class="dropdown-item" href="#!">Block Messages</a>
              </div>
            </div>
            <div class="position-absolute b-0 r-0 hover-hide"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="contacts-search-wrapper">
    <div class="form-group mb-0 position-relative d-md-none d-lg-block w-100 h-100"><input class="form-control form-control-sm chat-contacts-search border-0 h-100" type="text" placeholder="Search contacts ..." /><span class="fas fa-search contacts-search-icon"></span></div><button class="btn btn-sm btn-transparent d-none d-md-inline-block d-lg-none"><span class="fas fa-search fs--1"></span></button>
  </form>
</div>
