<div class="row">
  <div class="col-12">
    <div *ngIf="error" class="div">
      <ul class="alert alert-danger fa-ul">
        <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
      </ul>
    </div>
    <div *ngIf="errors" class="div">
      <ul *ngFor="let item of errors | keyvalue" class="alert alert-danger fa-ul">
        - {{ item.key }}
        <li *ngFor="let val of item.value"><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{val}}
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="row no-gutters">
        <div class="col-lg-12 pr-lg-2">
          <div class="card mb-3">

            <div class="card-body bg-light">

              <form #etatCreateForm=ngForm (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="nom">Nom *</label>
                  <input class="form-control" id="nom" name="nom" type="text" placeholder="Nom" [(ngModel)]="etat.nom"
                         required minlength="4"
                         #nom="ngModel"/>
                  <ul *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
                    <li *ngIf="nom.errors.required">
                      Ce champ est obligatoire
                    </li>
                    <li *ngIf="nom.errors.minlength">
                     Nom doit comporter au moins 4 caractères.
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <label for="order">Order *</label>
                  <input class="form-control" id="order" name="order" type="number" placeholder="Nom"
                         [(ngModel)]="etat.order"
                         required
                         #order="ngModel"/>
                  <ul *ngIf="order.invalid && (order.dirty || order.touched)" class="alert alert-danger">
                    <li *ngIf="order.errors.required">
                      Ce champ est obligatoire
                    </li>
                  </ul>
                </div>
                <button class="btn btn-warning mb-3 float-right" type="submit"
                        [disabled]="etatCreateForm.invalid || loading">
                  Enregistrer
                  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
