<br>
<!--
<owl-carousel-o [options]="customOptions" *ngIf="sec3">
  <ng-template carouselSlide><img alt="vetement tboutique.tn" title="vetement tboutique.tn" src="https://api.tboutique.tn/carousel/vetement.png"></ng-template>
  <ng-template carouselSlide><img alt="automobile tboutique.tn" title="automobile tboutique.tn" src="https://api.tboutique.tn/carousel/automobile.jpg"></ng-template>
  <ng-template carouselSlide><img alt="ameublement tboutique.tn" title="ameublement tboutique.tn" src="https://api.tboutique.tn/carousel/ameublement.jpg"></ng-template>
  <ng-template carouselSlide><img alt="decoration tboutique.tn" title="decoration tboutique.tn" src="https://api.tboutique.tn/carousel/decoration.jpg"></ng-template>
  <ng-template carouselSlide><img alt="electromenager tboutique.tn" title="electromenager tboutique.tn" src="https://api.tboutique.tn/carousel/electromenager.jpg"></ng-template>
  <ng-template carouselSlide><img alt="emploi tboutique.tn" title="emploi tboutique.tn" src="https://api.tboutique.tn/carousel/emploi.jpg"></ng-template>
  <ng-template carouselSlide><img alt="immobilier tboutique.tn" title="immobilier tboutique.tn" src="https://api.tboutique.tn/carousel/immobilier.jpg"></ng-template>
  <ng-template carouselSlide><img alt="informatique tboutique.tn" title="informatique tboutique.tn" src="https://api.tboutique.tn/carousel/informatique.jpg"></ng-template>
  <ng-template carouselSlide><img alt="smartphone tboutique.tn" title="smartphone tboutique.tn" src="https://api.tboutique.tn/carousel/smartphone.png"></ng-template>
</owl-carousel-o>
-->
<br>
<br>

<app-list-produit [searchObject]="{'limit': 12, 'offset': 0}"
                  [titre]="'Tous les produits'"
                  [url]="'/produit'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 12, 'offset': 0,'category_id':1}"
                  [titre]="'Immobilier'"
                  [url]="'/produit?category=1'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 12, 'offset': 0,'category_id':2}"
                  [titre]="'Véhicules'"
                  [url]="'/produit?category=2'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 12, 'offset': 0,'category_id':3}"
                  [titre]="'Pour la Maison et Jardin'"
                  [url]="'/produit?category=3'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 12, 'offset': 0,'category_id':4}"
                  [titre]="'Loisirs et Divertissement'"
                  [url]="'/produit?category=4'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 12, 'offset': 0,'category_id':5}"
                  [titre]="'Informatique et Multimedia'"
                  [url]="'/produit?category=5'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 12, 'offset': 0,'category_id':6}"
                  [titre]="'Emploi et Services'"
                  [url]="'/produit?category=6'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 12, 'offset': 0,'category_id':7}"
                  [titre]="'Habillement et Bien Etre'"
                  [url]="'/produit?category=7'"
></app-list-produit>
<app-list-produit [searchObject]="{'limit': 12, 'offset': 0,'category_id':8}"
                  [titre]="'Entreprises'"
                  [url]="'/produit?category=8'"
></app-list-produit>

<!--
<div class="row no-gutters">
  <div class="col-lg-12 pr-lg-2 mb-3 mb-lg-0">
    <div class="card h-100">
      <div class="card-body p-4 p-sm-5">
        <div class="text-center">
          <img class="d-block mx-auto mb-4" src="assets/img/illustrations/Quickly-search.png" alt="recherche" width="100"/>
          <h5 style="text-align: -webkit-center;
                font-family: Georgia, serif;
                letter-spacing: 1px;
                word-spacing: 0.4px;
                color: #0B14FF;
                font-weight: 400;
                text-decoration: none solid rgb(68, 68, 68);
                font-style: italic;
                font-variant: small-caps;
                text-transform: none;
          ">RECHERCHEZ-VOUS UNE SOCIÉTÉ DE VENTE OU RÉPARATION ?</h5>
          <app-recherche-societe></app-recherche-societe>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<br>
<!--
<app-statistique-etat *ngIf="loggedIn"></app-statistique-etat>
<div class="content">
  <div class="row no-gutters">
    <div class="col-lg-8 pr-lg-2">
      &lt;!&ndash;      https://www.youtube.com/watch?v=dQFLwEJgMEI&list=PLDmvslp_VR0yrKVkeDmfl8KUvxrevbUey&ndash;&gt;
      <div class="row no-gutters">
        <div class="col-lg-12 pl-lg-2">
          <div class="card h-100 mt-3 mt-lg-0">
            <div class="card-header bg-light d-flex flex-between-center">
              <h5 class="mb-0">Nos sociétés</h5>
            </div>
            <div id="mapid"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 pl-lg-2">
      <div class="sticky-top sticky-sidebar">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="mb-0">Meilleure société pour ce mois</h5>
          </div>
&lt;!&ndash;          <app-loading *ngIf="loading"></app-loading>&ndash;&gt;
          <div class="card-body bg-light" *ngIf="!loading">
            <div class="media" *ngFor="let topSociete of topSocietes">
              <div class="avatar avatar-3xl">
                <img class="rounded-circle" src="{{topSociete.image_societe_path}}" alt="{{topSociete.nom}}"/>
              </div>
              <div class="media-body ml-2">
                <h6 class="mb-0"><a routerLink="societe/view/{{topSociete.id}}">{{topSociete.nom}}</a>
                </h6>
                <a routerLink="/societe/view/{{topSociete.id}}" class="btn btn-light btn-sm py-0 mt-1 border">
                  <span class="far fa-eye" data-fa-transform="shrink-5 left-2"></span>
                  <span class="fs&#45;&#45;1">Afficher</span></a>
                <hr class="border-bottom-0 border-dashed"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<br>

<div class="row no-gutters">
  <div class="offset-lg-2 col-lg-8 pr-lg-2 mb-3 mb-lg-0">
    <div class="card h-100">
      <div class="card-body p-4 p-sm-5">
        <div class="text-center">
          <h2>
            <img style="height: 70px;margin-bottom: 40px;" src="/assets/img/favicons/logo.png">
            <!--
                        <span style="color: white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: red;">t</span>

                        <span style="color: blue">boutique</span>
            -->
            DANS VOTRE POCHE!
          </h2>
          <p>Téléchargez notre application gratuite</p>
          <a href="assets/apk/tboutique.apk">
            <img class="d-block mx-auto mb-4" src="assets/img/logos/google-play-logo.png"
                 alt="shield" width="200"/>
          </a>
        </div>
        <!--
                <div class="row">
                  <div class="col-md-6 text-center">1</div>
                  <div class="col-md-6 text-center">2</div>
                </div>
        -->

      </div>
    </div>
  </div>
</div>
<br>

<div class="row no-gutters" *ngIf="!loggedIn">
  <div class="offset-lg-2 col-lg-8 pr-lg-2 mb-3 mb-lg-0">
    <div class="card h-100">
      <div class="card-body p-4 p-sm-5">
        <div class="text-center"><img class="d-block mx-auto mb-4" src="assets/img/illustrations/rocket.png"
                                      alt="shield" width="70"/>
          <h2 class="font-weight-normal text-6 mb-0">Vous êtes un vendeur ?</h2>
          <h2>
            Rejoindre Notre Réseau professionnel
          </h2>
          <a routerLink="/authentification/signup" class="btn btn-primary btn-sm mt-3">
            <span class="fas fa-chevron-left mr-1" data-fa-transform="shrink-4 down-1"></span>
            Rejoindre le Réseau!
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="fs-2 fs-sm-4 fs-md-5">Voici ce qu'il y a pour vous</h1>
        <p class="lead">Les choses que vous obtiendrez dans notre site.</p>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-lg-12">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fas fa-store fs-4 text-info"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">À propos</h5>
            <p>Avec tboutique, trouvez la bonne affaire dans notre site.
              Dans nos annonces, trouvez vos souhaits dans nos catégories voiture,
              immobilier, emploi, électroménagers… Aussi,
              vous pouvez déposer une annonce gratuite en toute simplicité pour vendre,
              rechercher, donnez vos biens et vos services.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-lg-6 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="fab fa-sistrix fs-5 text-success"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Recherche avancée</h5>
            <p>Notre site vous offre une recherche avancée. Cela vous facilitera de trouver vos souhaits..</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><span class="far fa-bell fs-6 text-danger"></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Notification</h5>
            <p>Vous serez notifié pour tous les nouveaux produits ajoutés selon vos filtres sélectionnés.</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container-->
</section><!-- <section> close ============================-->
<!-- ============================================-->
<br>
<div class="row float-right">
  <button class="btn btn-warning" (click)="top()">
    Retour au haut de page <i class="fas fa-arrow-up"></i>
  </button>
</div>
<br>


<div bsModal #childModalvideo="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name-view" class="modal-title pull-left">Bienvenu dans tboutique.tn</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModalvideo()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
