<div *ngIf="error" class="div">
  <ul class="alert alert-danger fa-ul">
    <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
  </ul>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page" routerLink="societe">Sociétés recherche avancé</li>
  </ol>
</nav>
<app-societe-search (searchSociete)="loadData($event)"></app-societe-search>
<br>
<app-loading *ngIf="loading"></app-loading>
<br>


<div class="card">
  <div class="card-header bg-light">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="mb-0" id="followers">Sociétés</h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-light p-0">
    <div class="card" *ngIf="!loading && societeList.length==0">
      Aucune société n'a été trouvée pour votre requête de recherche.
    </div>
    <div class="row no-gutters text-center fs--1">
      <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1" *ngFor="let societe of societeList">
        <div class="bg-white p-3 h-100">
          <a routerLink="/societe/view/{{societe.id}}">
            <img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm"
                 src="{{societe.image_societe_path}}" alt="" width="100"/>
          </a>
          <h6 class="mb-1">
            <a routerLink="/societe/view/{{societe.id}}">{{societe.nom}}</a></h6>
          <p class="fs--2 mb-1"><a class="text-700" href="#!">
            {{societe.gouvernorat.nom}},
            {{societe.delegation.nom}}<br>
            {{societe.type_activite.nom}}
          </a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<div class="input-group" *ngIf="!first">
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <select [disabled]="disableShowMore" class="form-control"
            [(ngModel)]="limit">
      <option [ngValue]="10">10</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
    </select>
  </div>
  <div class="col-sm-2">
    <button id="showMore" class="btn btn-warning" (click)="showMore()" [disabled]="loading || disableShowMore">Afficher
      plus
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
  </div>
</div>
<br>
