<div class="card-header">
  <div class="row align-items-center justify-content-between">

    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
        <tr>
          <th scope="row">Marque</th>
          <td><span *ngIf="modele.marque">{{modele.marque.nom}}</span></td>
        </tr>
        <tr>
          <th scope="row">Modele</th>
          <td>{{modele.nom}}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{modele.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
