<div *ngIf="error" class="div">
  <ul class="alert alert-danger fa-ul">
    <li><span class="fa-li"><i class="fas fa-exclamation-triangle"></i></span>{{error}}</li>
  </ul>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page" routerLink="produits">Produits</li>
  </ol>
</nav>
<br>
<div *ngIf="!loading">
  <ul class="alert alert-danger fa-ul" *ngIf="!societeStorage || listEtat.length==0">
    <li *ngIf="!societeStorage">
      <span class="fa-li">
        <i class="fas fa-exclamation-triangle"></i>
      </span>Pour commencer, vous devez créer une société. Pour créer <a routerLink="/societe/create">cliquer ici.</a>
    </li>
    <li *ngIf="listEtat.length==0">
      <span class="fa-li">
        <i class="fas fa-exclamation-triangle"></i>
      </span>Les produits doivent possède des états, Pour créer <a routerLink="/etats">cliquer ici.</a>
    </li>
  </ul>
</div>
<div *ngIf="societeStorage && listEtat.length!=0">

<app-produit-searsh (searchProduit)="loadData($event)"></app-produit-searsh>
<div>
  <button type="button" class="btn btn-primary float-right" (click)="showChildModal()">Ajouter<span
    class="fas fa-plus-circle"></span></button>
</div>
  <br>
<app-produit-list *ngIf="!loading || !first" [produitList]="produitList" (loadDataDelete)="loadData($event)"></app-produit-list>
  <br>
  <app-loading *ngIf="loading"></app-loading>
<br>
<div class="input-group" *ngIf="!first">
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <select [disabled]="disableShowMore" class="form-control"
            [(ngModel)]="searchobject.limit">
      <option [ngValue]="10">10</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
    </select>
  </div>
  <div class="col-sm-2">
    <button id="showMore" class="btn btn-warning" (click)="showMore()" [disabled]="loading || disableShowMore">Afficher plus
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
  </div>
</div>
</div>
<br>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Ajouter produit</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-produit-create (loadDataAjout)="loadData($event)" *ngIf="isCreating"></app-produit-create>
      </div>
    </div>
  </div>
</div>
