<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<div class="row min-vh-100 flex-center no-gutters" style="margin-top: -5%;">
  <div class="col-lg-8 col-xxl-8 py-3">
    <img class="bg-auth-circle-shape" src="/assets/img/illustrations/bg-shape.png"
        alt="Image back de connection" width="250">
    <img class="bg-auth-circle-shape-2"
         src="../../assets/img/illustrations/shape-1.png"
         alt="Image back de connection" width="150">
    <div class="card overflow-hidden z-index-1">
      <div class="card-body p-0">
        <div class="row no-gutters h-100">
          <div class="col-md-12 d-flex flex-center">
            <div class="p-4 p-md-5 flex-grow-1">
              <h3>Se connecter</h3>
              <form #loginForm=ngForm (ngSubmit)="onSubmit()">
                <div *ngIf="error" class="alert alert-danger">
                  {{error}}
                </div>
                <div class="form-group"><label for="card-email">Adresse e-mail
                </label><input class="form-control"
                                                                                            type="email" name="email"
                                                                                            id="card-email"
                                                                                            [(ngModel)]="form.email"
                                                                                            required #email="ngModel"
                                                                                            [email]="true"/>

                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Ce champ est obligatoire
                    </div>

                    <div *ngIf="email.invalid">
                      L'e-mail doit être de la forme: e-mail@valide.com
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <label for="card-password">Mot de passe</label>
                  <div class="input-group">

                  <input class="form-control"
                                                                    type="{{passwordType}}" name="password"
                                                                    id="card-password"
                                                                    [(ngModel)]="form.password"
                                                                    required
                                                                    #password="ngModel"/>
                    <div class="input-group-append" (click)="hidePassword()">
                    <span *ngIf="hide" class="input-group-text">
                      <i class="fa far fa-eye"></i>
                    </span>
                      <span *ngIf="!hide" class="input-group-text">
                      <i class="far fa-eye-slash"></i>
                    </span>
                    </div>
                  </div>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                      Ce champ est obligatoire
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between float-right"><a
                  class="fs--1" routerLink="/authentification/request-password-reset">Mot de passe oublié?</a></div>
                <br>
                <div class="form-group">
                  <button class="btn btn-primary btn-block mt-3" type="submit" name="submit"
                          [disabled]="loginForm.invalid">Se connecter
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                  </button>
                </div>
              </form>
              <div class="w-100 position-relative mt-4">
                <hr class="text-300"/>
                <div
                  class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">
                  Créer votre compte
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="form-group">
                  <a routerLink="/authentification/signup" class="btn btn-info btn-block mt-3">Créer votre compte</a>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
